<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}" class="logHeader">


</head>
<body class="p-3 m-0 border-0 bd-example">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<!-- Example Code -->
<nav class="navbar searchbar topfix">
  <div class="container-fluid">
    <form class="d-flex" role="search" th:action="@{/admin/diary}">
      <select class="form-select form-select-sm" name="type" id="searchType" aria-label=".form-select-sm example">
        <option value="writer" id="writer">작성자</option>
        <option value="subject" id="subject">제목</option>
      </select>
      <input class="form-control me-2" type="search" name="keyword" placeholder="" id="search-input" aria-label="Search">
      <button class="btn customBtn" id="searchBtn" type="submit" style="width: 200px;">검색</button>
    </form>
  </div>
</nav>
<div>
  <button class="customBtn" onclick="location.href='/admin/log'">서비스 로그</button>
  <button class="customBtn" onclick="location.href='/admin/comment'">댓글 로그</button>
  <button class="customBtn" onclick="location.href='/admin/user'">회원 관리</button>
  <button class="customBtn" onclick="location.href='/admin/report'">신고 관리</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">글 번호</th>
    <th scope="col">일기 제목</th>
    <th scope="col">이름</th>
    <th scope="col">날짜</th>
    <th scope="col">공감수</th>
    <th scope="col">조회수</th>
    <th scope="col">비고</th>
  </tr>
  </thead>
  <tbody class="table-group-divider logMoreData" id="diaryList">
  <tr th:each="diary:${adminAllDiaryList}">
    <th scope="row" th:text="${diary.diaryIdx}" class="diaryIdx">글 번호</th>
    <th scope="row" th:text="${diary.diarySubject}">일기 제목</th>
    <th scope="row" th:text="${diary.diaryWriter}">이름</th>
    <th scope="row" th:text="${#temporals.format(diary.diaryDate,'yyyy-MM-dd')}">날짜</th>
    <th scope="row" th:text="${diary.diarySympathyCnt}">공감수</th>
    <th scope="row" th:text="${diary.diaryCnt}">조회수</th>
    <th scope="row">
      <button type="button" class="btn customDeleteBtn" onclick="delDiary(this)">삭제</button>
    </th>
  </tr>

  </tbody>
</table>

<!-- End Example Code -->
<script>
  function delDiary(e) {
    const diaryIdx = $(e).parent().siblings('.diaryIdx').text();

    $.ajax({
      url: "/admin/diary_delete/",
      type: "DELETE",
      data: {diaryIdx: $(e).parent().siblings('.diaryIdx').text()},
      success: function (fragment) {
        $('#diaryList').replaceWith(fragment);
      }
    })
  }
  $(document).ready(function () {
    $('#searchType').change(function () {
      $('#search-input').val('');  // 검색 주제 변경 시 텍스트 초기화
    });

    $('#search-form').on('submit', function (event) {
      if (!$('#search-input').val().trim()) { // 검색어가 공백인 경우
        event.preventDefault(); // 이벤트 취소
      }
    });
  })
</script>

</body>


</html>