<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">

</head>
<body>
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div class="logBtnBox">
<button type="button" class="logbtn"><a class="logAtag" th:href="@{/admin/log}">서비스 로그</a></button>
<button type="button" class="logbtn"><a class="logAtag" th:href="@{/admin/comment}">댓글 로그</a></button>
<button type="button" class="logbtn"><a class="logAtag" th:href="@{/admin/diary}">일기 관리</a></button>
<button type="button" class="logbtn"><a class="logAtag" th:href="@{/admin/user}">회원 관리</a></button>
<button type="button" class="logbtn"><a class="logAtag" th:href="@{/admin/report}">신고 관리</a></button>
</div>

<footer th:insert="~{fragment/footer.html::footer}"></footer>
</body>
</html>