<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <div th:replace="~{fragment/topMenu.html::header}"></div>
  <title>NADA 관리자 메인</title>
</head>
<body>
<header th:insert="~{fragment/topMenu.html::nav}"></header>
  <input type="hidden" th:value="${diaryCount}" id="diaryCount">
  <input type="hidden" th:value="${UserLogArr_add}" id="UserLogArr_add">
  <input type="hidden" th:value="${UserLogArr_del}" id="UserLogArr_del">
  <input type="hidden" th:value="${dateArr}" id="dateArr">
<div class="logBtnBox">
  <button type="button" class="logbtn" onclick="serviceLog()">서비스 로그</button>
  <button type="button" class="logbtn" onclick="commentLog()">댓글로그</button>
  <button type="button" class="logbtn" onclick="diaryLog()">일기 관리</button>
  <button type="button" class="logbtn" onclick="userLog()">회원 관리</button>
  <button type="button" class="logbtn" onclick="reportLog()">신고 관리</button>
</div>
<div>
  <div id="pieGraph"></div>
  <div id="areaGraph"></div>
  <div id="GA4viewGraph"></div>
</div>
<footer th:insert="~{fragment/footer.html::footer}"></footer>
<script>
  function serviceLog() {
    location.href = "/admin/log"
  }

  function commentLog() {
    location.href = "/admin/comment"
  }

  function diaryLog() {
    location.href = "/admin/diary"
  }

  function userLog() {
    location.href = "/admin/user"
  }

  function reportLog() {
    location.href = "/admin/report"
  }


</script>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
  if (!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "1a1c5616993c0f0";
  if (window.wcs) {
    wcs_do();
  }

  let diaryArrInput = document.querySelector('#diaryCount');
  let diaryArr = JSON.parse(diaryArrInput.value);

  // pie 그래프
  var options = {
    series: diaryArr,
    chart: {
      width: 380,
      type: 'pie',
    },
    title: {
      text: '최근 1주일간 일기 작성 / 삭제 현황',
      align: 'left',
      style: {
        fontSize: '14px'
      }
    },
    labels: ['일기 작성', '일기 삭제'],
    responsive: [{
      breakpoint: 480,
      options: {
        chart: {
          width: 200
        },
        legend: {
          position: 'bottom'
        }
      }
    }]
  };

  var chart = new ApexCharts(document.querySelector("#pieGraph"), options);
  chart.render();

  let UserLogArr_addInput = document.querySelector('#UserLogArr_add');
  let UserLogArr_add = JSON.parse(UserLogArr_addInput.value);

  let UserLogArr_delInput = document.querySelector('#UserLogArr_del');
  let UserLogArr_del = JSON.parse(UserLogArr_delInput.value);

  let dateArr_Input = document.querySelector('#dateArr');
  let dateArr = JSON.parse(dateArr_Input.value);
  var options = {
    series: [{
      name: '회원가입',
      data: UserLogArr_add.reverse()
    }, {
      name: '회원탈퇴',
      data: UserLogArr_del.reverse()
    }],
    chart: {
      height: 350,
      width: 650,
      type: 'area'
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'smooth'
    },
    xaxis: {
      type: 'string',
      categories: dateArr.reverse()
    },
    title: {
      text: '최근 1주일간 회원 가입 / 탈퇴 현황',
      align: 'left',
      style: {
        fontSize: '14px'
      }
    },
    tooltip: {
      x: {
        format: 'dd/MM/yy'
      },
    },
  };

  var areaChart = new ApexCharts(document.querySelector("#areaGraph"), options);
  areaChart.render();

</script>
</body>
</html>