<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}" class="logHeader">


</head>
<body class="p-3 m-0 border-0 bd-example">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<!-- Example Code -->
<nav class="navbar searchbar topfix">
  <div class="container-fluid">
    <form class="d-flex" role="search" th:action="@{/admin}" method="post">
      <select class="form-select form-select-sm" id="searchType" aria-label=".form-select-sm example">
        <option selected value="username" id="username">회원ID</option>
        <option value="name" id="name">회원이름</option>
        <option value="birth" id="birth">생년월일</option>
      </select>
      <input class="form-control me-2" type="search" placeholder="" id="inputSearch" aria-label="Search">
      <button class="btn customBtn" id="searchBtn" type="submit" style="width: 200px;">검색</button>
    </form>
  </div>
</nav>
<div>
  <button class="customBtn" onclick="location.href='/admin/log'">서비스 로그</button>
  <button class="customBtn" onclick="location.href='/admin/comment'">댓글 로그</button>
  <button class="customBtn" onclick="location.href='/admin/diary'">일기 관리</button>
  <button class="customBtn" onclick="location.href='/admin/report'">신고 관리</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">no</th>
    <th scope="col">회원ID</th>
    <th scope="col">닉네임</th>
    <th scope="col">회원이름</th>
    <th scope="col">생년월일</th>
    <th scope="col">주소</th>
    <th scope="col">연락처</th>
    <th scope="col">비고</th>
  </tr>
  </thead>
  <tbody class="table-group-divider logMoreData" id="memberList">
  <tr th:each="member:${adminMemberList}">
    <th scope="row" th:text="${member.memberIdx}" class="idx">번호</th>
    <th scope="row" th:text="${member.username  }">회원ID</th>
    <th scope="row" th:text="${member.memberNickname  }">닉네임</th>
    <th scope="row" th:text="${member.memberName  }">회원이름</th>
    <th scope="row" th:text="${member.memberBirth}">생년월일</th>
    <th scope="row" th:text="${member.memberAddress}">주소</th>
    <th scope="row" th:text="${member.memberPhone }">연락처</th>
    <th scope="row">
      <button type="button" class="btn customDeleteBtn" onclick="kickMember(this)">탈퇴</button>
    </th>
  </tr>

  </tbody>
</table>
<!-- End Example Code -->
<script>
  $(document).ready(function () {
    var win = $(window);
    var doc = $(document);

    // Each time the user scrolls
    win.scroll(function () {
      // Vertical end reached?
      if (doc.height() - win.height() == win.scrollTop()) {
        // New row
        var tr = $('<tr />').append($('<th />')).appendTo($('.logMoreData'));

        // Current number of columns to create
        var n_cols = $('.logMoreData tr:first-child th').length;
        for (var i = 0; i < n_cols; ++i)
          tr.append($('<td />'));
      }

      // Horizontal end reached?
      if (doc.width() - win.width() == win.scrollLeft()) {
        // New column in the heading row
        $('.logMoreData tr:first-child').append($('<th />'));

        // New column in each row
        $('.logMoreData tr:not(:first-child)').each(function () {
          $(this).append($('<td />'));
        });
      }
    });
  });

  function kickMember(e) {
    const idx = $(e).parent().siblings('.idx').text();

    $.ajax({
      url: "/admin/user_delete",
      type: "DELETE",
      data: {memberIdx: $(e).parent().siblings('.idx').text()},
      success: function (fragment) {
        $('#memberList').replaceWith(fragment);
      }
    })
  }
</script>
</body>
</html>