<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="topMenu.html::header">
  <meta charset="UTF-8">
  <!--  <header th:insert="topMenu.html::header"></header>-->
</head>
<body>

<footer class="text-center text-white" th:fragment="footer" style="background-color: rgba(173, 100, 58, 0.2);">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(173, 100, 58, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End Example Code -->

</body>
</html>