<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N A D A F I N D P W</title>
  <!-- Bootstrap CSS -->
  <head th:insert="~{fragment/topMenu.html::header}">

  <!-- Customer 스타일 추가 -->
  <link rel="stylesheet" href="login.css">
</head>
<body class="">
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div id="container">

  <form th:action="@{/user/reset_password}" method="get">
  <div class="login-box">
    <div class="BoxTitle"><spann class="logo-text">F I N D <br>P A S S W O R D</spann></div>

    <div class="form-group">
      <label>E-mail</label>
      <input type="text" name="username" id="username" required >
      <div>
        <input type="button" id="send_Mail_Btn" value="전송"  class="btn btn-light">
      </div>
    </div>

    <div class="form-group email_code_box">
      <label>E-mail Code</label>
      <div>
        <input type="text" name="member_email_code" id="member_email_code"  class="form-control">
      </div>
      <span id="mail-check-warn"></span>
      <div>
        <input type="button" id="btnCertification" value="인증" class="btn btn-light btn-right">
      </div>
    </div>


  </div>
  </form>
</div>
<footer th:insert="~{fragment/footer.html::footer}"></footer>
<!-- Bootstrap Bundle with Popper -->

</body>
</html>