<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N A D A F I N D P W</title>
  <!-- Bootstrap CSS -->
  <head th:insert="~{fragment/topMenu.html::header}">

    <!-- Customer 스타일 추가 -->
    <link rel="stylesheet" href="style.css">
  </head>
<body class="">
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div id="container">


  <div class="login-box">
    <div class="BoxTitle"><span class="logo-text">비밀번호 찾기</span></div>

    <div class="form-group">
      <label>E-mail</label>
      <input type="text" name="username" id="username" class="form-control" required>
      <label>Name</label>
      <input type="text" name="memberName" id="memberName" class="form-control" required>
      <div>
        <input type="button" id="send_Mail_Btn" value="전송" class="btn btn-light">
      </div>
    </div>

    <div class="form-group email_code_box">
      <label>E-mail Code</label>
      <div>
        <input type="text" name="member_email_code" id="member_email_code" class="form-control">
      </div>
      <span id="mail-check-warn"></span>
      <div>
        <input type="button" id="btnCertification" value="인증" class="btn btn-light btn-right">
      </div>
      <br>
      <span id="change"></span>
    </div>

  </div>

</div>
<footer th:replace="~{fragment/footer.html::footer}"></footer>
<!-- Bootstrap Bundle with Popper -->
<script>
  $(function () {
    $("#send_Mail_Btn").on('click', function () {
      let codebox = $('.email_code_box');
      const email = $('#username').val() // 이메일 주소값 얻어오기!
      const name = $('#memberName').val();
      console.log('완성된 이메일 : ' + email + ' 사용자 이름 : ' + name); // 이메일 오는지 확인

      $.ajax({
        type: 'GET',
        url: '/user/join/email_exist_check_pw?username=' + email + '&memberName=' + name, // GET방식이라 Url 뒤에 email을 뭍힐수있다.
        success: function (data) {
          if (data != "false") {
            if (codebox.css('display') === 'none') {
              //코드 입력 박스를 보이도록 표시
              codebox.css('display', 'inline-block');
            }
            console.log("data : " + data);
            code = data;
            swal('인증번호가 전송되었습니다.');
          } else {
            swal('잘못된 이메일 주소 또는 잘못된 이름 입니다.');
          }
        }, error: function () {
          swal('잘못된 이메일 주소 또는 잘못된 이름 입니다.');
        }
      }); // end ajax
    });// end send eamil
    $('#btnCertification').on('click', function () {
      const inputCode = $('#member_email_code').val();
      const $resultMsg = $('#mail-check-warn');
      if (inputCode === code) {
        $resultMsg.html('인증번호가 일치합니다.');
        $resultMsg.css('color', 'green');
        $('#send_Mail_Btn').attr('disabled', true);
        $('#username').attr('readonly', true);
        $('#username').attr('onChange', 'this.selectedIndex = this.initialSelect');
        $('#btnCertification').attr('disabled', true);
        var btn = "<button type='submit' onclick='loc() ' class='btn btn-sm btn-info'>확인</button>";
        $("#change").html(btn);

      } else {
        $resultMsg.html('인증번호가 불일치 합니다. 다시 확인해주세요!.');
        $resultMsg.css('color', 'red');
      }
    });
  });

  function loc() {
    window.location = "/user/reset_password?username=" + $("#username").val();
  }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>