<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<!-- 반응형 웹 미디어쿼리 선언부   -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<header th:insert="topMenu.html::header"></header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N A D A J O I N</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Customer 스타일 추가 -->
    <link rel="stylesheet" href="login.css">
  </head>
  
  
  <body class="">
  <header th:insert="~{fragment/topMenu.html::nav}"></header>
    <div id="container">
      <!-- login Box -->
      
      
      <form th:action="@{/user_join_pro}" method="post" th:object="${memberJoinBean}">
      <div class="login-box" style="width: 500px;">
        <div class="loginBoxTitle"><span class="logo-text">J O I N</span></div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="member_name" id="member_name" th:field="*{member_name}" required class="form-control">
        </div>

        <div class="form-group">
            <label>NickName</label>
            <input type="text" name="member_nickname" id="member_nickname" th:field="*{member_nickname}" required class="form-control">
        </div>

        <div class="form-group">
            <label>Birth</label>
            <input type="text" name="member_birth" id="member_birth" th:field="*{member_birth}" class="form-control">
        </div>

        <div class="form-group">
            <label>Address</label>
            <input type="text" name="member_birth" id="member_birth" th:field="*{member_address}" class="form-control">
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="text" name="member_email" id="member_email" th:field="*{member_email}" class="form-control">
            <div>
                <input type="button" id="send-Mail-Btn" value="전송" onclick="sendEmail()" class="btn btn-light">
            </div>
        </div>

       <div class="form-group email_code-box" style="display:none">
            <label>E-mail Code</label>
            
                <input type="text" name="member_email_code" id="member_email_code" th:field="*{member_email_code}" class="form-control">
            <div>
                <input type="button" id="btnCertification" value="인증" class="btn btn-light">
            </div>
            
        </div>
        
        <div class="form-group">
            <label id="pw_label">PW</label>
            <input type="password" name="member_password" id="member_password" th:field="*{member_password}" class="form-control" autocomplete="off">
        </div>

        <div class="form-group">
            <label>PW Check</label>
            <input type="password" name="member_password_check" id="member_password_check" th:field="*{member_password_check}" class="form-control" onkeypress="checkpassword(event)" autocomplete="off">
        	<label id="passwordCheckLabel"></label>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="tel" name="member_phone" id="member_phone" class="form-control" th:field="*{member_phone}" value="" autocomplete="off">
        </div>

        <div id="login-btn-box">
            <input type="button" id="btnjoin" value="회원가입" class="btn btn-light">
        </div>
           
        
      </div>
      <!-- login Box //-->
    </div>
    </form>
	<footer th:insert="~{fragment/footer.html::footer}"></footer>
	<script>
	
    $(function sendEmail(){
        $("#send-Mail-Btn").click(function() {
            const eamil = $('#member_email').val() // 이메일 주소값 얻어오기!
            console.log('완성된 이메일 : ' + eamil); // 이메일 오는지 확인
            const checkInput = $('.mail-check-input') // 인증번호 입력하는곳
            $.ajax({
                type : 'GET',
                url : '<c:url value ="${root}/member/mailCheck?email="/>'+eamil, // GET방식이라 Url 뒤에 email을 뭍힐수있다.
                success : function (data) {
                    console.log("data : " +  data);
                    checkInput.attr('disabled',false);
                    code =data;
                    swal('인증번호가 전송되었습니다.')
                }
            }); // end ajax
        });// end send eamil
        // 인증번호 비교
        // blur -> focus가 벗어나는 경우 발생
        $('.mail-check-input').blur(function () {
            const inputCode = $(this).val();
            const $resultMsg = $('#mail-check-warn');

            if(inputCode === code){
                $resultMsg.html('인증번호가 일치합니다.');
                $resultMsg.css('color','green');
                $('#mail-Check-Btn').attr('disabled',true);
                $('#userEamil1').attr('readonly',true);
                $('#userEamil2').attr('readonly',true);
                $('#userEmail2').attr('onFocus', 'this.initialSelect = this.selectedIndex');
                $('#userEmail2').attr('onChange', 'this.selectedIndex = this.initialSelect');
            }else{
                $resultMsg.html('인증번호가 불일치 합니다. 다시 확인해주세요!.');
                $resultMsg.css('color','red');
            }
        });
        });

	function sendEmail(){
		
		const member_email = document.getElementById("member_email").value; //member_email의 id의 값
		//이메일 전송하는 코드 필요
		document.getElmentById("email_code-box").style.display="inline-block";
		//코드 입력 박스를 보이도록 표시
		
	}
	
	
	function checkpassword(event){
		var member_password = document.getElementById("member_password").value;
		//비밀번호의 값 
		var member_password_check = document.getElementById("member_password_check").value;
		//비밀번호 확인의 값
		
		if(member_password == member_password_check){
			
			document.getElementById("passwordCheckLabel").innerHTML = "비밀번호가 일치합니다.";
			document.getElementById("passwordCheckLabel").style.coler = "green";
			
		}
		else{
			
			document.getElementById("passwordCheckLabel").innerHTML = "비밀번호가 일치하지 않습니다.";
			document.getElementById("passwordCheckLabel").style.coler = " red";
			
		}
	}
	
	
	
	</script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>