<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">
</head>
<body class="">
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div id="container" class="">
  <!-- login Box -->
  <div class="login-box">
    <div class="BoxTitle">
      <span class="logo-text">N A D A</span>
    </div>
    <form method="post" th:action="@{/login}">
      <div class="form-group" th:if="${error}" style="align-items: center; margin-bottom: 20px;">
        <span th:text="${errorMsg}" class="alert alert-danger">에러메세지</span>
      </div>
      <div class="form-group">
        <label>ID</label>
        <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                value=""
                placeholder="example@test.com"
                style="ime-mode: disabled"
        />
      </div>
      <div class="form-group">
        <label>PW</label>
        <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                value=""
                autocomplete="off"
        />
      </div>
      <div id="login-btn-box" style="margin-top: 30px">
        <input
                type="submit"
                id="btnLogin"
                value="로그인"
                class="btn customBtn"
                onclick="loginCheck()"
        />
      </div>
    </form>
    <div class="row loginBox" style="margin-top: 50px">
      <div class="col-md-6 loginAct">
        <a th:href="@{/user/find_password}">비밀번호를 잊으셨나요?</a>
      </div>
      <div class="col-md-6 loginAct">
        <a th:href="@{/user/join}">아직 회원이 아니신가요?</a>
      </div>
    </div>

  </div>
  <!-- login Box //-->
</div>
<footer th:replace="~{fragment/footer.html::footer}"></footer>
</body>
</html>