<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!-- 반응형 웹 미디어쿼리 선언부   -->
<head th:insert="~{fragment/topMenu.html::header}">

</head>


<body>
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div id="container">
  <!-- login Box -->
  <div class="memberInfoBackground">
  <form th:action="@{/user/modify_pro}" th:method="put" th:object="${memberInfoBean}">

    <div class="login-box" style="width: 500px;">
      <div class="BoxTitle"><span class="logo-text">회 원 정 보 수 정</span></div>
      <div class="form-group">
        <label>이 름</label>
        <input type="text" name="memberName" id="memberName" th:value="${memberLoginBean.memberName}"
               class="form-control" th:readonly="readonly">
      </div>
      <div class="form-group">
        <label>닉네임</label>
        <input type="text" name="memberNickname" id="memberNickname" th:field="*{memberNickname}" required
               class="form-control" >
        <p th:if="${#fields.hasErrors('memberNickname')}" th:errorclass="error" th:errors="*{memberNickname}" />
      </div>
      <div class="form-group">
        <label>생년월일</label>
        <input type="text" name="memberBirth" id="memberBirth" th:value="${memberLoginBean.memberBirth}"
               class="form-control" th:readonly="readonly">
      </div>
      <div class="form-group">
        <label>이메일</label>
        <input type="text" name="email" id="email" th:value="${memberLoginBean.username}"
               class="form-control" th:readonly="readonly">
      </div>
      <div class="form-group">
        <label id="pw_label">비밀번호</label>
        <input type="password" name="password" id="password" th:field="*{password}"
               class="form-control" autocomplete="off" >
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
      </div>
      <div class="form-group">
        <label>비밀번호 확인</label>
        <input type="password" name="member_password_check" id="member_password_check" class="form-control"
                autocomplete="off">
        <label id="passwordCheckLabel"></label>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" name="memberAddress" id="memberAddress" th:field="*{memberAddress}"
               class="form-control" >
        <p th:if="${#fields.hasErrors('memberAddress')}" th:errorclass="error" th:errors="*{memberAddress}" />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="tel" name="memberPhone" id="memberPhone" class="form-control" th:field="*{memberPhone}"
               value="" autocomplete="off" >
        <p th:if="${#fields.hasErrors('memberPhone')}" th:errorclass="error" th:errors="*{memberPhone}" />
      </div>
      <div class="form-group">
        <input type="button" id="btnSecession" onclick="deleteMember()" value="회원 탈퇴" class="btn-dark btn" style="padding: 6px 12px; margin: 10px 0 0;">
        <input type="submit" id="btnModify" value="수정" class="btn btn-light">
        <input type="reset" id="btnModifyReset" value="취소" class="btn btn-light">
      </div>
    </div>
    <!-- login Box //-->
  </form>
  </div>
</div>
<footer th:insert="~{fragment/footer.html::footer}"></footer>
<script>

  $('#member_password_check').blur(function () {
    const member_password = $("#password").val();
    //비밀번호의 값
    const member_password_check = $("#member_password_check").val();
    //비밀번호 확인의 값
    console.log(member_password);
    console.log(member_password_check);
    if (member_password === member_password_check) {

      $("#passwordCheckLabel").html("비밀번호가 일치합니다.");
      $("#passwordCheckLabel").css("color","green");

    } else {

      $("#passwordCheckLabel").html("비밀번호가 일치하지 않습니다..");
      $("#passwordCheckLabel").css("color","red");
    }
  });
  $('#password').blur(function () {
    const member_password = $("#password").val();
    //비밀번호의 값
    const member_password_check = $("#member_password_check").val();
    //비밀번호 확인의 값
    console.log(member_password);
    console.log(member_password_check);
    if (member_password === member_password_check) {

      $("#passwordCheckLabel").html("비밀번호가 일치합니다.");
      $("#passwordCheckLabel").css("color","green");

    } else {

      $("#passwordCheckLabel").html("비밀번호가 일치하지 않습니다..");
      $("#passwordCheckLabel").css("color","red");
    }
  });
  function deleteMember(){

  }

</script>
</body>
</html>