<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!-- 반응형 웹 미디어쿼리 선언부   -->
<head th:insert="~{fragment/topMenu.html::header}">

</head>


<body>
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div id="container">
  <!-- login Box -->

  <div class="memberInfoBackground">
  <form th:action="@{/user/join/join_pro}" method="get" th:object="${memberInfoBean}">
    <div class="login-box" style="width: 500px;">
      <div class="loginBoxTitle"><span class="logo-text">회 원 정 보 수 정</span></div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="member_name" id="member_name" th:field="*{member_name}" required
               class="form-control" readonly>
        <p th:if="${#fields.hasErrors('member_name')}" th:errorclass="error" th:errors="*{member_name}" />
      </div>

      <div class="form-group">
        <label>NickName</label>
        <input type="text" name="member_nickname" id="member_nickname" th:field="*{member_nickname}" required
               class="form-control">
        <p th:if="${#fields.hasErrors('member_nickname')}" th:errorclass="error" th:errors="*{member_nickname}" />
      </div>

      <div class="form-group">
        <label>Birth</label>
        <input type="text" name="member_birth" id="member_birth" th:field="*{member_birth}"
               class="form-control">
        <p th:if="${#fields.hasErrors('member_birth')}" th:errorclass="error" th:errors="*{member_birth}" />
      </div>

      <div class="form-group">
        <label>Address</label>
        <input type="text" name="member_birth" id="member_address" th:field="*{member_address}"
               class="form-control">
        <p th:if="${#fields.hasErrors('member_address')}" th:errorclass="error" th:errors="*{member_address}" />
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input type="text" name="username" id="member_email" th:field="*{username}"
               class="form-control">
        <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" />
        <div>
          <input type="button" id="send_Mail_Btn" value="전송"  class="btn btn-light">
        </div>
      </div>

      <div class="form-group email_code_box" style="display:none;">
        <label>E-mail Code</label>

        <input type="text" name="member_email_code" id="member_email_code"  class="form-control">
        <span id="mail-check-warn"></span>

        <div>
          <input type="button" id="btnCertification" value="인증" class="btn btn-light">

        </div>

      </div>

      <div class="form-group">
        <label id="pw_label">PW</label>
        <input type="password" name="password" id="member_password" th:field="*{password}"
               class="form-control" autocomplete="off">
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
      </div>

      <div class="form-group">
        <label>PW Check</label>
        <input type="password" name="member_password_check" id="member_password_check" class="form-control"
               onkeypress="checkpassword(event)" autocomplete="off">
        <label id="passwordCheckLabel"></label>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="tel" name="member_phone" id="member_phone" class="form-control" th:field="*{member_phone}"
               value="" autocomplete="off">
        <p th:if="${#fields.hasErrors('member_phone')}" th:errorclass="error" th:errors="*{member_phone}" />
      </div>

      <div id="login-btn-box">
        <input type="submit" id="btnModify" value="수정" class="btn btn-light">
        <input type="reset" id="btnModifyReset" value="취소" class="btn btn-light">
      </div>


    </div>

    <!-- login Box //-->
  </form>
  </div>
</div>
<footer th:insert="~{fragment/footer.html::footer}"></footer>

</body>
</html>