<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <div th:replace="~{fragment/topMenu.html::header}"></div>
  <title>NADA 마이 페이지</title>
</head>
<body>
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div class="card-header BoxTitle">
    My Page
</div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><input class="customBtn modifyBtn" onclick="loc()" type="button" value="회원정보수정"></h5>
                    <p class="card-text" th:text="${memberLoginBean.memberNickname}">닉네임</p>
                    <p class="card-text" id="email" th:text="${memberLoginBean.username}">이메일</p>
                    <p class="card-text" th:text="${memberLoginBean.memberBirth}">생일</p>
                    <p class="card-text userAddr" th:text="${memberLoginBean.memberAddress}">주소</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">감정상태 분석</h5>
                    <button class="customBtn" onclick="changeChartType('line')" type="button">선그래프</button>
                    <button class="customBtn" onclick="changeChartType('bar')" type="button">막대그래프</button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">감정상태 분석글</h5>
                    <!-- 감정 점수가 아직 없는 경우-->
                    <th:block th:if="${analyzeScore} == null">
                        <p class="card-text">어서 빨리 일기를 작성해 주세요!!</p>
                    </th:block>
                    <!-- 감정 점수가 존재하는 경우-->
                    <th:block th:if="${analyzeScore} != null">
                        <input id="analyzeScoreArr" th:value="${analyzeScoreArr}" type="hidden">
                        <input id="diaryWriteDateArr" th:value="${diaryWriteDateArr}" type="hidden">
                        <input id="diaryScore" th:value="${analyzeScore}" type="hidden">
                    </th:block>
                    <p class="card-text adviceText" id="advice">최신 일기를 기반으로 감정 분석 중</p>
                </div>
            </div>
            <div class="card mb-3 map_wrap">
                <div class="card-header cateBtn">
                    <button type="button" class="customBtn category" onclick="searchPark(this)"style="display: none;"id="park">공원</button>
                    <button type="button" class="customBtn category" onclick="searchWalk(this)"style="display: none;"id="walk">산책로</button>
                    <button type="button" class="customBtn category" onclick="searchMountain(this)"style="display: none;"id="mountain">등산</button>
                    <button type="button" class="customBtn category" onclick="searchHealth(this)"style="display: none;"id="health">헬스장</button>
                    <button type="button" class="customBtn category" onclick="searchCafe(this)"style="display: none"id="cafe">카페</button>
                    <button type="button" class="customBtn category" onclick="searchMoive(this)"style="display: none;"id="movie">영화관</button>
                    <button type="button" class="customBtn category" onclick="searchFood(this)"style="display: none;"id="food">맛집</button>
                </div>
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                <div id="menu_wrap" class="bg_white">
                    <div class="option">
                        <div>
                            <form onsubmit="searchPlaces(); return false;">
                                <input type="text" th:value="${memberLoginBean.memberAddress}+공원" id="keyword"
                                             size="15">
                                <input type="hidden" th:value="${memberLoginBean.memberAddress}" id="secret">
                                <button type="submit">검색</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <ul id="placesList"></ul>
                    <div id="pagination"></div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    내가 작성한 게시글
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">게시글</th>
                            <th scope="col">제목</th>
                            <th scope="col">날짜</th>
                            <th scope="col">조회수</th>
                            <th scope="col">공감수</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider" th:each="myDiary : ${myDiaryList}">
                        <tr>
                            <th scope="row" th:text="${myDiary.diaryIdx}">일기 번호</th>
                            <td><a class="mypageSubject"
                                   th:href="@{/diary/read/{diaryIdx}(diaryIdx=${myDiary.diaryIdx})}"
                                   th:text="${myDiary.diarySubject}">일기 제목</a></td>
                            <td th:text="${#temporals.format(myDiary.diaryDate,'yyyy-MM-dd')}">일기 날짜</td>
                            <td th:text="${myDiary.diaryCnt}">일기 조회수</td>
                            <td th:text="${myDiary.diarySympathyCnt}">일기 조회수</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div id="chart">
                        <th:block th:if="${analyzeScore} == null">
                            <p class="card-text" style="font-size: 50px">일기를 작성해주시면 그래프를 보실 수 있습니다.</p>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header">
                    공감 누른 게시글
                    <button class="more-btn customBtn" data-bs-target="#diaryModal" data-bs-toggle="modal"
                            type="button">목록 보기
                    </button>
                </div>
                <div class="card-body">
                    <div>
                        <span> 게시글 <span th:text="${likeDiaryList.size()}">0</span>개</span>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    친구
                    <button class="more-btn customBtn" data-bs-target="#friendModal" data-bs-toggle="modal"
                            type="button">목록 보기
                    </button>
                </div>
                <div class="card-body">
                    <div>
                        <span> 친구 <span id="friendNum" th:text="${friendsList.size()}">0</span>명</span>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    차단 유저
                    <button class="more-btn customBtn" data-bs-target="#blockModal" data-bs-toggle="modal"
                            type="button">목록 보기
                    </button>
                </div>
                <div class="card-body">
                    <div>
                        <span> 차단 <span id="blockNum" th:text="${blockLists.size()}">0</span>명</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--게시글리스트 모달-->
<div aria-hidden="true" aria-labelledby="diaryModal" class="modal fade" id="diaryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel2">친구 목록</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="showDiaryList">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">글 번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">날짜</th>
                            <th scope="col">공감수</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider" th:each="like : ${likeDiaryList}">
                        <tr>
                            <th scope="row" th:text="${like.diaryIdx}">일기 번호</th>
                            <td><a th:href="@{/diary/read/{diaryIdx}(diaryIdx=${like.diaryIdx})}"
                                   th:text="${like.diarySubject}">일기
                                제목</a></td>
                            <td th:text="${like.diaryWriter}">일기 작성자</td>
                            <td th:text="${#temporals.format(like.diaryDate,'yyyy-MM-dd')}">일기 날짜</td>
                            <td th:text="${like.diarySympathyCnt}">일기 공감수</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn customBtn" data-bs-dismiss="modal" type="button">닫기</button>
            </div>
        </div>
    </div>
</div>

<!--친구리스트 모달-->
<div aria-hidden="true" aria-labelledby="friendModal" class="modal fade" id="friendModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">친구 목록</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="showFriendsList">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">친구 이름</th>
                            <th scope="col">친해진 날</th>
                            <th scope="col">삭제유무</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider" th:each="friend : ${friendsList}">
                        <tr>
                            <td hidden="hidden" class="friendsIdx" th:text="${friend.getFriendsMemberIdx()}">0</td>
                            <td th:text="${friend.friendsNickname}">Mark</td>
                            <td th:text="${#temporals.format(friend.friendsDate, 'YY-MM-dd')}">날짜</td>
                            <td>
                                <button class="customDeleteBtn" onclick="deleteFriend(this)">삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn customBtn" data-bs-dismiss="modal" type="button">닫기</button>
            </div>
        </div>
    </div>
</div>


<!----- 블락리스트 모달-->

<div aria-hidden="true" aria-labelledby="blockModal" class="modal fade" id="blockModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">차단 목록</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="showBlocksList">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">차단 번호</th>
                            <th scope="col">차단 이름</th>
                            <th scope="col">차단 이유</th>
                            <th scope="col">차단 날짜</th>
                            <th scope="col">삭제유무</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider" th:each="block : ${blockLists}">
                        <tr>
                            <td class="blockIdx" th:text="${block.blockMemberIdx}">0</td>
                            <td th:text="${block.blockMemberNickname}">Mark</td>
                            <td th:text="${block.blockMemberReason}">차단 이유</td>
                            <td th:text="${#temporals.format(block.blockMemberDate,'yyyy-MM-dd')}">차단 날</td>
                            <td>
                                <button class="customDeleteBtn" onclick="deleteBlock(this)">삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn customBtn" data-bs-dismiss="modal" type="button">닫기</button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    var markers = [];

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex: 1});

    // 키워드로 장소를 검색합니다
    searchPlaces();

    // 마이페이지 진입 시 감정 일기 점수 불러와 그래프 그리기
    // 지도 초기 중앙 좌표 유저 집 주소로 지정
    $(function () {


        const diaryScore = document.getElementById("diaryScore");
        let msg = diaryScore.value;
        msg += "\n 감정상태 점수가 0~150의 범위를 가지고 있고 80이상은 긍정적인 상태 50~80은 보통상태 50이하는 부정적인 상태일 때" +
            " 감정상태 점수가 위와 같이 변동된 경우 조언을 해줄 때 \"조언:\"으로 응답해줘요.";
        console.log(msg);

        let advice = document.getElementById('advice');

        let gptData = {
            method: 'POST',
            body: JSON.stringify({msg}),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        let mainAdvice = '';
        let keyword = '';
        fetch('http://localhost:8080/send', gptData)
            .then((response) => response.json())
            .then((data) => {
                console.log(data.data);

                const resMsg = data.data;
                let resLines = resMsg.split('\n');

                resLines.forEach(function (line) {
                    if (line.indexOf("조언:") != -1) {
                        mainAdvice = line;
                        console.log(mainAdvice);
                    }
                });
            })
            .then(() => {
                let resAdvice = mainAdvice.replace("조언 : ", "");
                advice.innerText = resAdvice;

                if (resAdvice.indexOf("활동") != -1 && resAdvice.indexOf("스트레스") != -1){
                    $('#food').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                    $('#movie').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                    $('#park').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                }else if (resAdvice.indexOf("휴식") != -1&& resAdvice.indexOf("스트레스") != -1){
                    $('#movie').css('display', 'inline');
                    $('#food').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                }else if (resAdvice.indexOf("긍정") != -1&& resAdvice.indexOf("유지") != -1) {
                    $('#movie').css('display', 'inline');
                    $('#food').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                }else if (resAdvice.indexOf("긍정") != -1&& resAdvice.indexOf("이해") != -1){
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                }else if (resAdvice.indexOf("긍정") != -1&& resAdvice.indexOf("정리") != -1){
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                    $('#health').css('display', 'inline');
                }else if (resAdvice.indexOf("운동") != -1) {
                    $('#health').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                }else if (resAdvice.indexOf("음식") != -1){
                    $('#food').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                }else if (resAdvice.indexOf("영화") != -1){
                    $('#movie').css('display', 'inline');
                }else if (resAdvice.indexOf("취미") != -1){
                    $('#mountain').css('display', 'inline');
                    $('#health').css('display', 'inline');
                    $('#movie').css('display', 'inline');
                    $('#food').css('display', 'inline');
                }else if (resAdvice.indexOf("친구") != -1){
                    $('#movie').css('display', 'inline');
                    $('#food').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                }else if (resAdvice.indexOf("새로운") != -1){
                    $('#health').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#movie').css('display', 'inline');
                }else if (resAdvice.indexOf("쉬는") != -1){
                    $('#park').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#movie').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                }else if (resAdvice.indexOf("여가") != -1){
                    $('#health').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                    $('#movie').css('display', 'inline');
                }else if (resAdvice.indexOf("건강") != -1){
                    $('#health').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                    $('#park').css('display', 'inline');
                }else if (resAdvice.indexOf("소통") != -1){
                    $('#food').css('display', 'inline');
                    $('#cafe').css('display', 'inline');
                    $('#movie').css('display', 'inline');
                }else if (resAdvice.indexOf("활동") != -1){
                    $('#health').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                }else if (resAdvice.indexOf("활발") != -1){
                    $('#food').css('display', 'inline');
                    $('#health').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                }else if (resAdvice.indexOf("즐거운") != -1){
                    $('#movie').css('display', 'inline');
                    $('#food').css('display', 'inline');
                    $('#walk').css('display', 'inline');
                    $('#mountain').css('display', 'inline');
                }

                console.log($('#analyzeScoreArr').val());
                console.log($('#analyzeScoreArr').innerText);

            });
    });
    // 그래프에 삽입되는 일기 분석 점수

    let analyzeScoreArrInput = document.getElementById("analyzeScoreArr");
    let analyzeScoreArr = JSON.parse(analyzeScoreArrInput.value);
    // 그래프에 삽입되는 일기 작성 날짜

    let diaryWriteDateArrInput = document.getElementById("diaryWriteDateArr");
    let diaryWriteDateArr = JSON.parse(diaryWriteDateArrInput.value.replace(/&quot;/g, '"'));
    let chartType = 'line'; // 초기값은 선그래프

    function changeChartType(type) {

        chartType = type;
        chart.updateOptions({
            chart: {
                type: chartType
            }
        });
    }
    let options = {
        series: [
            {
                name: "매일매일 달라지는 나의 하루",
                data: analyzeScoreArr.reverse()
            },
        ],
        chart: {
            height: 350,
            type: 'line',
            dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
            },
            toolbar: {
                show: false
            }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
            enabled: true,
        },
        stroke: {
            curve: 'smooth'
        },
        title: {
            text: 'Your Date Temperature',
            align: 'left'
        },
        grid: {
            borderColor: '#e7e7e7',
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        markers: {
            size: 1
        },
        xaxis: {
            categories: diaryWriteDateArr.map((date) => {
                const year = date.slice(0, 4);
                const month = date.slice(5, 7);
                const day = date.slice(8, 10);
                return `${year}-${month}-${day}`;
            }).reverse(),
            title: {
                text: '최근 6일 동안의 나의 하루 점수'
            }
        },
        yaxis: {
            title: {
                text: '하루 기분 점수'
            },
            min: 0,
            max: 100
        },
        legend: {
            position: 'top',
            horizontalAlign: 'right',
            floating: true,
            offsetY: -25,
            offsetX: -5
        }
    };


    let chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
    function loc() {


        window.location = "/user/modify";
    }
    function deleteFriend(e) {

        const memberDeleteDto = {
            "friendsIdx": $(e).parent().siblings('.friendsIdx').text()
        }
        // Ajax 요청을 보냅니다.

        $.ajax({
            type: "DELETE",
            url: "/user/friend_del/",
            data: memberDeleteDto,
            success: function (response) {
                // 서버에서 삭제가 완료된 후에 친구 목록을 다시 불러옵니다.
                $("#showFriendsList").replaceWith(response);
                const num = $("#friendNum").text();
                $("#friendNum").text(parseInt(num) - 1);
            }
        });
    }
    // 차단리스트 모달에서 삭제

    function deleteBlock(e) {
        console.log('차단해제');
        console.log($(e).parent().siblings('.blockIdx').text());
        const blockListDto = {
            "blockMemberIdx": $(e).parent().siblings('.blockIdx').text()
        }
        $.ajax({
            type: "DELETE",
            url: "/user/unblock/",
            data: blockListDto,
            success: function (response) {
                $("#showBlocksList").replaceWith(response);
                const num = $("#blockNum").text();
                $("#blockNum").text(parseInt(num) - 1);
            }
        });
    }
    function searchPlaces() {

        var keyword = document.getElementById('keyword').value;

        if (!keyword.replace(/^\s+|\s+$/g, '')) {

            alert('키워드를 입력해주세요!');
            return false;
        }
        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다

        ps.keywordSearch(keyword, placesSearchCB);
        var keywordInput = document.getElementById('keyword');

        keywordInput.value = document.getElementById('secret').value
    }
    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다

    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // 정상적으로 검색이 완료됐으면

            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);
            // 페이지 번호를 표출합니다

            displayPagination(pagination);
        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
            alert('검색 결과가 존재하지 않습니다.');

            return;

        } else if (status === kakao.maps.services.Status.ERROR) {
            alert('검색 결과 중 오류가 발생했습니다.');

            return;

        }

    }
    // 검색 결과 목록과 마커를 표출하는 함수입니다

    function displayPlaces(places) {
        var listEl = document.getElementById('placesList'),
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(),
            bounds = new kakao.maps.LatLngBounds(),
            listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다

        removeAllChildNods(listEl);
        // 지도에 표시되고 있는 마커를 제거합니다

        removeMarker();
        for (var i = 0; i < places.length; i++) {

            // 마커를 생성하고 지도에 표시합니다

            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                marker = addMarker(placePosition, i),
                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해

            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);
            // 마커와 검색결과 항목에 mouseover 했을때

            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function (marker, title) {
                kakao.maps.event.addListener(marker, 'mouseover', function () {
                    displayInfowindow(marker, title);
                });

                kakao.maps.event.addListener(marker, 'mouseout', function () {
                    infowindow.close();
                });

                itemEl.onmouseover = function () {
                    displayInfowindow(marker, title);
                };

                itemEl.onmouseout = function () {
                    infowindow.close();
                };
            })(marker, places[i].place_name);
            fragment.appendChild(itemEl);

        }
        // 검색결과 항목들을 검색결과 목록 Element에 추가합니다

        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;
        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다

        map.setBounds(bounds);
    }
    // 검색결과 항목을 Element로 반환하는 함수입니다

    function getListItem(index, places) {
        var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index + 1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

        if (places.road_address_name) {

            itemStr += '    <span>' + places.road_address_name + '</span>' +
                '   <span class="jibun gray">' + places.address_name + '</span>';
        } else {
            itemStr += '    <span>' + places.address_name + '</span>';
        }
        itemStr += '  <span class="tel">' + places.phone + '</span>' +
            '</div>';

        el.innerHTML = itemStr;

        el.className = 'item';
        return el;

    }
    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다

    function addMarker(position, idx, title) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions = {
                spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin: new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage
            });
        marker.setMap(map); // 지도 위에 마커를 표출합니다

        markers.push(marker);  // 배열에 생성된 마커를 추가합니다
        return marker;

    }
    // 지도 위에 표시되고 있는 마커를 모두 제거합니다

    function removeMarker() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }
    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다

    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i;
        // 기존에 추가된 페이지번호를 삭제합니다

        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild(paginationEl.lastChild);
        }

        for (i = 1; i <= pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i === pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function (i) {
                    return function () {
                        pagination.gotoPage(i);
                    }
                })(i);
            }

            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {
        while (el.hasChildNodes()) {
            el.removeChild(el.lastChild);
        }
    }

    var parkBtn = document.getElementById('park');
    var walkBtn = document.getElementById('walk');
    var mountainBtn = document.getElementById('mountain');
    var healthBtn = document.getElementById('health');
    var cafeBtn = document.getElementById('cafe');
    var movieBtn = document.getElementById('movie');
    var foodBtn = document.getElementById('food');

    parkBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '공원' : '공원';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });

    walkBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '산책로' : '산책로';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });

    mountainBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '산' : '등산';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });

    healthBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '헬스장' : '헬스장';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });

    cafeBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '카페' : '카페';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });

    movieBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '영화관' : '영화관';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });

    foodBtn.addEventListener('click', function() {
        var keywordInput = document.getElementById('keyword');
        var keyword = keywordInput.value;
        keywordInput.value = keyword ? keyword + '맛집' : '맛집';
        searchPlaces();
        keywordInput.value = document.getElementById('secret').value
    });


</script>
<footer th:replace="~{fragment/footerTemp.html::footer}"></footer>
</body>
</html>