<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="~{fragment/topMenu.html::header}">
  <!-- 반응형 웹 미디어쿼리 선언부   -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--    <header th:insert="~{fragment/topMenu.html::header}"></header>-->
  <style>
    /* 추가적인 CSS 스타일링 */
    .card-body {
      background-color: #fff;
      border-radius: 0.25rem;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

  </style>
</head>
<body>
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div class="card-header BoxTitle">
    My Page
</div>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">프로필? 아이콘이었던가</h5>
          <p class="card-text" id="email" th:text="${memberLoginBean.username}">이메일</p>
          <p class="card-text" th:text="${memberLoginBean.memberBirth}">생일</p>
          <p class="card-text" th:text="${memberLoginBean.memberNickname}">닉네임</p>
          <p class="card-text" th:text="${memberLoginBean.memberAddress}">주소</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">감정상태 분석</h5>
          <p class="card-text">통계로 보기</p>
          <p class="card-text">그래프로 보기</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">감정상태 분석글</h5>
          <p class="card-text">대충 긍정적인 분석</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header">
          내가 작성한 게시글
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">게시글</th>
              <th scope="col">제목</th>
              <th scope="col">날짜</th>
              <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" th:each="myDiary : ${myDiaryList}">
            <tr>
              <th scope="row" th:text="${myDiary.diaryIdx}">일기 번호</th>
              <td th:text="${myDiary.diarySubject}">일기 제목</td>
              <td th:text="${myDiary.diaryDate}">일기 날짜</td>
              <td th:text="${myDiary.diaryCnt}">일기 조회수</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          그래프, 통계 왔다갔다 할 자리
        </div>
        <div class="card-body">
         <p>그래프입니다~ 뇌이징 시키세요~</p>
        </div>
      </div>
      <div>
        <input type="button" value="회원정보수정" onclick="loc()">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-header">
          공감 누른 게시글
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">게시글</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">날짜</th>
              <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" th:each="like : ${likeDiaryList}">
            <tr>
              <th scope="row" th:text="${like.diaryIdx}">일기 번호</th>
              <td th:text="${like.diarySubject}">일기 제목</td>
              <td th:text="${like.diaryWriter}">일기 작성자</td>
              <td th:text="${like.diaryDate}">일기 날짜</td>
              <td th:text="${like.diaryCnt}">일기 조회수</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          친구 유저 리스트
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">친구 이름</th>
              <th scope="col">친구 먹은날</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" th:each="friend : ${friendsList}">
            <tr>
              <th scope="row" th:text="${friend.friendsNickname}">친구 닉네임</th>
              <td th:text="${friend.friendsDate}">친구 먹은날</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          차단 유저
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">차단 유저</th>
              <th scope="col">차단 사유</th>
              <th scope="col">차단 날짜</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" th:each="block : ${blockLists}">
            <tr>
              <th scope="row" th:text="${block.blockMemberNickname}">차단 유저 네임</th>
              <td th:text="${block.blockMemberReason}">차단 사유</td>
              <td th:text="${block.blockMemberDate}">차단 날짜</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function loc(){
    window.location="/user/modify";
  }

</script>
<footer th:insert="~{fragment/footer.html::footer}"></footer>
</body>
</html>
