<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N A D A F I N D P W</title>
  <!-- Bootstrap CSS -->
  <head th:insert="~{fragment/topMenu.html::header}">

    <!-- Customer 스타일 추가 -->
    <link rel="stylesheet" href="login.css">
  </head>
<body class="">
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<div id="container">
  <!-- login Box -->
  <div class="login-box">
    <div class="loginBoxTitle">
      <span class="logo-text">R E S E T<br> P A S S W O R D</span>
    </div>
    <div class="form-group">
      <label>PW</label>
      <input
              type="text"
              name="uid"
              id="uid"
              class="form-control"
              value=""
              style="text-transform: uppercase; ime-mode: disabled"
      />
    </div>
    <div class="form-group">
      <label>PW Check</label>
      <input
              type="password"
              name="upw"
              id="upw"
              class="form-control"
              value=""
              autocomplete="off"
      />
    </div>
    <div id="login-btn-box">
      <input
              type="button"
              id="password_change_btn"
              value="변경"
              class="btn btn-light btn-right"
      />
    </div>


  </div>
</div>
<!-- login Box //-->
</div>


<footer th:insert="~{fragment/footer.html::footer}"></footer>
<script>

</script>
</body>
</html>