<!doctype html>
<html
        lang="ko"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <!-- 반응형 웹 미디어쿼리 선언부   -->
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <div th:replace="~{fragment/topMenu.html::header}"></div>
  <title>NADA QNA 글</title>
</head>
<body class="p-3 m-0 border-0 bd-example qnaReadForm">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<div class="qnaform">
  <div class="BoxTitle" style="text-align: center;margin-bottom: 20px">
    <span class="logo-text">Q & A</span></div>
  <div class="mb-3">
    <input type="text" class="form-control qnaSubject" name="qnaSubject"
           id="qnaSubject" th:value="${qnaBean.qnaSubject}">
  </div>

  <div class="mb-3">
    <input class="form-control qnaWriter" id="qnaWriter" name="qnaWriter" readonly
           style="overflow: hidden;text-overflow: ellipsis;white-space: normal;"
           th:value="'문의자 : '+${qnaBean.qnaWriter }" type="text">
  </div>

  <div class="mb-3">
    <input class="form-control qnaDate" id="qnaDate" name="qnaDate" readonly
           th:value="'문의일 : '+${#temporals.format(qnaBean.qnaDate,'yyyy-MM-dd')}">
  </div>
  <div class="mb-3">
        <textarea class="form-control qnaContent" id="qnaContent" name="qnaContent" readonly
                  style="resize: none;"
                  rows="5" th:text="'문의 내용 : '+${qnaBean.qnaContent }">
        </textarea>
  </div>

  <!--    파일 어떻게 읽어오는지 생각 해 봐야함-->
  <div class="mb-3">
    <label class="form-label" for="qnaFile">첨부파일</label>
    <a th:href="@{/board/QNA/download(qnaIdx=${qnaBean.qnaIdx})}">
      <input class="form-control form-control-sm qnaFile" id="qnaFile"
             style="overflow: hidden;text-overflow: ellipsis;white-space: normal;"
             name="qnaFile" readonly th:value="${qnaBean.qnaFile}">
    </a>
  </div>

  <!-- 운영자 답변 -->
  <div class="card-header bg-light">
    운영자 답변
  </div>
  <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <button id="answer" name="answer" class="btn customBtn mt-3 qnaBtn">답변하기</button>
  </div>
  <div sec:authorize="hasAnyRole('ROLE_USER')">
  <textarea class="form-control qnaContent" name="qnaAnswered"
            style="resize: none;"
            id="qnaAnswered" th:text="${qnaBean.qnaAnswer}" rows="3"
            readonly></textarea>
  </div>

  <div class="card-body" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="check" style="display: none">

            <textarea class="form-control qnaContent" name="qnaAnswer"
                      style="resize: none;"
                      id="qnaAnswer" th:text="${qnaBean.qnaAnswer}"
                      rows="3"></textarea>

        <input type="hidden" id="idx" th:value="${qnaBean.qnaIdx}">
        <button type="button" class="btn customBtn mt-3 qnaBtn" id="complete">처리완료</button>
      </li>
    </ul>
  </div>

  <form id="delete" th:action="@{/board/QNA/delete}" th:method="delete" style="margin-top: 20px">
    <input type="hidden" id="qnaIdx" name="qnaIdx" th:value="${qnaBean.qnaIdx}">
    <button type="button" id="deleteBtn"
            onclick="deleteQna()"
            class="btn customDeleteBtn qnaBtn">삭제</button>
    <button class="btn customBtn qnaBtn" onclick="window.location='/board/QNA'" type="button">목록</button>
  </form>
</div>
<footer th:replace="~{fragment/footerTemp.html::footer}"></footer>
<script>
  function deleteQna() {
    var form = $('#delete')
    swal({
      title: "정말로 삭제 하시겠습니까?",
      icon: "warning",
      buttons:[
        '아니오',
        '네'
      ],
    }).then(function(isConfirm){
      if(isConfirm){
        form.submit();
      }
    });
  }
  $(function () {
    $("#answer").on('click', function () {
      $("#check").css('display', 'inline-block');
    });
    $("#complete").on('click', function () {
      $.ajax({
        url: '/board/QNA/answer',
        type: 'put',
        data: {
          "qnaIdx": $("#idx").val(),
          "qnaAnswer": $("#qnaAnswer").val(),
          "qnaComplete": $('#qnaSubject').val(),
          "qnaIsanswered": true,
        },
        success: function () {
          swal('답변이 완료 되었습니다.');
          setTimeout(function () {
            window.location = "/board/QNA/";
          }, 1500);
        }
      });
    });
    var file = $('#qnaFile').val();
    if (file == null || file === "") {
      $('#qnaFile').on('click', function (e) {
        e.preventDefault();
      })
    }
  });
</script>
</body>
</html>