<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">
  <!-- 반응형 웹 미디어쿼리 선언부   -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--    <header th:insert="~{fragment/topMenu.html::header}"></header>-->

</head>
<body class="p-3 m-0 border-0 bd-example qnaWriteForm">
<header th:insert="~{fragment/topMenu.html::nav}"></header>
<!--enctype="multipart/form-data"-->
<form enctype="multipart/form-data" th:action="@{/board/qna/write_pro}" method="post" th:object="${addQnaBean}">
  <div class="mb-3">
    <input type="text" class="form-control" name="qnaSubject" id="qnaSubject" th:field="*{qnaSubject}"
           placeholder="게시글 제목">
    <p th:if="${#fields.hasErrors('qnaSubject')}" th:errorclass="error" th:errors="*{qnaSubject}"/>
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" name="qnaWriter" id="qnaWriter" th:value="${memberLoginBean.memberNickname}"
           readonly>

  </div>

  <div class="mb-3">
    <input type="text" name="qnaDate" id="qnaDate" class="form-control"
           th:value="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}" readonly>
  </div>
  <div class="mb-3">
        <textarea class="form-control" name="qnaContent" id="qnaContent " rows="5" placeholder="게시글 내용"
                  th:field="*{qnaContent}">
        </textarea>
    <p th:if="${#fields.hasErrors('qnaContent')}" th:errorclass="error" th:errors="*{qnaContent}"/>
  </div>

  <div class="mb-3">
    <label for="file" class="form-label">첨부파일</label>
    <input class="form-control form-control-sm" name="file" id="file" type="file">
  </div>


  <button type="reset" class="btn btn-primary">재작성</button>
  <button type="submit" class="btn btn-primary">작성완료</button>
  <button type="button" class="btn btn-primary" onclick="history.go(-1)">취소</button>
</form>
<footer th:replace="~{fragment/footer.html::footer}"></footer>


</body>
</html>