html {
    height: 100%;
}

.advice-title {
    margin-top: 40px;
}

.list {
    /*margin-bottom: 200px;*/
}

#plus-recent,
#plus-sympathy {
    border-radius: 50px;
    float: right;
}

#keyword {
    margin-top: 20px;
}

#newest {
    height: 470px;
}

#emotion {
    height: 470px;
}

#newestContext p {
    padding: 10px;
}

#emotionContext p {
    padding: 10px;
}

#diaryWriter {
    padding-left: 30px;
}

#newDiaryNum {
    float: left;
    padding-right: 30px;
}

#emoDiaryNum {
    float: left;
    padding-right: 30px;
}

#nickname {
    margin-right: 20px;
}

.logAtag {
    text-decoration: none;
    color: black;
}

.logbtn {
    width: 130px;
    height: 130px;
    margin: 5px;

}

/*#banner {*/
/*    background-image: url(./images/mainBanner5.jpg);*/
/*}*/

/* .img{
width: 100%;
height: 300px;
background-image: url(C:/Users/soldesk/Desktop/mainBack.jpg);
} */
.mainBody, .diarymain, .diary-write-body, .noticeMain,
.qnaMain, .reportMain, .noticeWriteForm, .noticeReadForm,
.noticeModifyForm, .qnaReadForm, .qnaWriteForm, html, body {
    background-image: url(../images/bgi2.png);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    flex-wrap: inherit;
    height: 100%;
    /*margin-bottom: 40px;*/
}

.noticePage {
    margin-left: 43%;
}

.noticeWriteBtn {
    float: right;
    margin: 30px 40px;
}


#main {
    margin-top: 20px;
}


/*#todayAdvice {*/
/*    background-image: url(./images/list.PNG);*/
/*}*/
.homecard, .keywordcard {
    background-image: url(../images/adviceAndkeword.png);
    background-repeat: round;
    background-size: cover;
    font-family: 'KCCChassam', 'Dovemayo_wild', 'TAEBAEKmilkyway';
    font-size: 15px;
}

.todayAdvice, .keywordcard {
    width: 220px;
    height: 200px;
}

#keywordContext {
    margin-top: 6px;
    /*border: 1px solid #937152;*/
}

.emoticon {
    background-image: url(../images/emotion.PNG);
    background-repeat: round;
    background-size: cover;
}

.diarycard {
    background-image: url(../images/mainlist.png);
    background-repeat: round;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-bottom: 50px;
    font-family: 'KCCChassam', 'Dovemayo_wild', 'TAEBAEKmilkyway';
    font-size: 15px;

}

.mainSubject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100px;

}

.diaryListCard {
    background-image: url(../images/diarymain.jpg);
    background-repeat: round;
    background-size: cover;
    margin-top: 10px;


}

.Page-bar li {
    display: inline-block;
    font-size: 20px;
}

.Page-bar {
    list-style-type: none;
    text-align: center;
}

.page-link {
    color: #ffffff;
    background-color: #937152;
}

.page-item {
    display: inline-block;
}

.now-page {
    color: #330f0e;
    background-color: #e3cab0;
}

.searchbar {
    margin-top: 10px;
}

.createDiary {
    margin-top: 20px;
    float: right;
    background-color: #a38969;
    border-color: white;
}

.logBtnBox {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.selectSerch {
    width: auto;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #e3cab0;
}

.dropdown-menu[data-bs-popper] {
    background: antiquewhite;
}

.top-nav {
    padding: 0;
}

.top-menu {
    height: 100%;
}


.userLoginBox {
    display: inline-block;
}

.diarymainbody {
    height: 300px;
}

.d-flex {
    display: flex !important;
    margin-left: 40%;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1920px;
    }
    .diary-container{
        max-width: 1600px;

    }

    .videoContainer {
        margin-bottom: 50px;
    }

    .todayAdvice {
        margin-bottom: 70px;

    }

    #today {
        width: 250px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .newestDiv {
        width: 600px;
        margin-right: 100px;

    }

    .emotionDiv {
        width: 600px;
    }

}

/*@media ( min-width: 992px)and (max-width: 1300px) {*/
/*    #today {*/
/*        width: 210px;*/

/*    }*/

/*    .newestDiv {*/
/*        width: 350px;*/
/*    }*/

/*    .emotionDiv {*/
/*        width: 350px;*/
/*    }*/
/*}*/

@media (max-width: 992px) {
    #today {
        width: 200px;
        /* display: none; */
    }

    .newestDiv {
        width: 500px;
    }

    .emotionDiv {
        width: 700px;
    }
}

@media (max-width: 768px) {
    #today {
        width: 600px;
    }

    .newestDiv {
        width: 600px;
    }

    .emotionDiv {
        width: 600px;
    }
}

/* admin log페이지 부분*/
.logHeader {
    position: fixed;

}


/* @media(min-width: 1200px){
    #today{
        width: 200px;
    }
}  */
/* @media ( min-width : 992px) {
    .mainBody{
        width: 990px;
    }
}
@media ( min-width : 1200px) {
    .mainBody{
        width: 100%;
    }
} */

/*폰트적용*/

/*교보문고-손글씨-성지영*/
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*교보손글씨2019-*/
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*KCC-차쌤체*/
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*거친둘기마요*/
@font-face {
    font-family: 'Dovemayo_wild';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*태백 은하수체*/
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*다이어리 작성 폰트 설정*/
.diary {
    font-family: 'KyoboHandwriting2021sjy', 'KyoboHand', 'KCCChassam';
    margin-left: 80px;
}

.navbar {
    font-family: 'KCCChassam', 'Dovemayo_wild', 'TAEBAEKmilkyway';
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*margin: 0;*/
    /*padding: 0;*/

}

body {
    font-size: 0.75rem;
}

#container {
    padding: 5px;

}

.loginBox {
    /*display: inline;*/
    width: 380px;
    margin: 20px 0 10px 10px;
    display: flex;
}

.BoxTitle {
    color: #5e4322;
    font-weight: bold;
    font-size: 2.9rem;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    /*그레디언트가 이미지이기때문에*/
    background: linear-gradient(to right, #330f0e, #f5e2b4);
    /*-webkit-사용-> 구글/사파리브라우저에 적용*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-text {
    margin: 0 auto;
}

.loginAct {
    margin: 0px 0px 5%;
}

input[type="button"] {
    font-size: 0.75rem;
    padding: 5px 10px;
}

.login-box {
    margin: 6% auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 40px 30px;
    border: 5px solid #422f17;
    width: 475px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .5));
}

.form-group label {
    font-size: 0.75rem;
    margin: 5px 0;
}


#login-btn-box {
    padding-left: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 10px;

}

.btn-light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 0px;
}

/*diary_write_css*/
.diary-container {
    align-items: center;
}

.diary-write {
    display: flex;
}

.leftDiary {
    background-image: url("../images/diary_note_fix2.png");
    width: 50%;
    height: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
    order: 1;
    padding-left: 20px;
}

.rightDiary {
    background-image: url("../images/diary_note_fix2.png");
    width: 50%;
    height: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
    order: 2;
    padding-left: 20px;
}

.diary-form {
    width: 100%;
}

.diary-wrap {
    align-items: center;
}

.diary {
    margin-top: 8%;
}

.dddd {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100%;
    left: 0;
    float: left;

}

.btn-right {
    /*margin-left: 80%;*/
    display: flex;
    align-items: center;
    float: right;
    margin-right: 45px;
}
.btn-diary-right{
    /*display: flex;*/
    align-items: center;
    /*text-align: center;*/
    float: right;
    font-size: 25px;
}

.diaryContent, .diaryAnalyze {
    width: 80%;
    height: 18rem;
    resize: none;
}

.text-center {
    text-align: center;
}

.diarySubject, .diaryContent {
    white-space: pre-line;
}

.diarySubject, .diaryContent, .diaryAnalyze {
    background-color: transparent;
}

.navbar-brand {
    width: 450px;
}

.join_login {
    width: 500px;
}

.nav-item {
    width: 200px;
    font-family: 'KCCChassam', 'Dovemayo_wild', 'TAEBAEKmilkyway';
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/*.diaryWriteBtn > input {*/
/*    padding: 5px 10px;*/
/*    font-size: small;*/
/*}*/

.dropdown-item {
    font-size: 23px;
}

.page {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page li {
    display: inline-block;
    font-size: 20px;
}

.keywords {
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
    font-size: 25px;
}

.btn_close::before {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    top: 0px;
    left: 0px;
}

.item span {
    margin-left: 6px;
    margin-right: 10px;
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 20px;
    padding: 8px 16px;
    background-color: saddlebrown;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 300px;
}

.diarySubject, .diaryContent {
    white-space: pre-line;
}

.diarySubject, .diaryContent, .diaryAnalyze, .diaryWriter {
    background-color: transparent;
}
.diarySubject{
    width: 650px;
    height: 70px;
    font-size: 30px;
    margin-bottom: 10px
}
.keywordSubject{
    width: 650px;
    height: 70px;
    font-size: 30px;
    margin-bottom: 10px;
}
.diaryWriter{
    width: 300px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 10px
}
.diaryContent{
    width: auto;
    height: auto;
    font-size: 40px;
}
.form-check-input{
    font-size: 30px;
    text-align: center;
}
.diaryWriteBtn > input {
    padding: 5px 10px;
    font-size: 25px;
}


.diaryContent, .diaryAnalyze {
    width: 85%;
    height: 18rem;
    resize: none;
}
.diaryAnalyze{
    font-size: 40px;
}

/*.diary-container {*/
/*    align-items: center;*/
/*}*/


