<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="~{fragment/topMenu.html::header}">

</head>

<body class="p-3 m-0 border-0 bd-example">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100" th:each="diary :${allDiaryList}">
            <div class="card-body">
                <h5 class="card-title" th:text="${diary.diary_subject}">일기 제목 <span th:text="${#temporals.format(diary.diary_date,'MM-DD')}">03-10</span>
                    <span th:text="${diary.diary_keyords }">술 담배 라이터</span><span th:text="${diary.diary_sympathy_cnt}">5(조회수)</span></h5>
                <p class="card-text" th:text="${diary.diary_content}">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
</div>


<!--<footer th:insert="footer.html::footer"></footer>-->
<footer th:insert="~{fragment/footer.html::footer}"></footer>
</body>
</html>