<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">

</head>

<body class="p-3 m-0 border-0 bd-example diarymain">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div th:each="diary :${allDiaryList}">
    <div class="col">
      <div class="card h-100 diaryListCard">
        <div class="card-body diarymainbody">
          <h5 class="card-title" th:text="${diary.diarySubject}">
            <br>
            <span th:text="${#temporals.format(diary.diaryDate, 'MM-dd')}"/>
            <span th:text="${diary.diaryKeywords }"/>
            <span th:text="${diary.diaryCnt}"/>
          </h5>
          <p class="card-text" th:text="${diary.diaryContent}"/>

        </div>
        <div class="card-footer">
          <div class="emoticon" style="width: 30px; height: 30px; float: left;"></div>
          <span th:text="${diary.diarySympathyCnt}"
                style="float: left; width: 33%; margin-left: 10px; margin-top: 10px;">5</span>
          <span th:text="${diary.diaryWriter}" style="float: right; margin-right: 30px">작성자</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- 다이어리 하단 페이지 -->
<nav aria-label="Page navigation" class="page">
  <!-- 변수값 초기화 -->
  <ul class="pagination page-bar"
      th:with="start=${T(Math).floor(allDiaryList.number / 10) * 10 + 1},
             last=(${start + 9 < allDiaryList.totalPages ? start + 9 : allDiaryList.totalPages})">

    <th:block th:with="
                firstPage=@{/diary(page=1)},
                prevPage=@{/diary(page=${allDiaryList.number})},
                nextPage=@{/diary(page=${allDiaryList.number + 2})},
                lastPage=@{/diary(page=${allDiaryList.totalPages})}">

      <!-- 첫 페이지로 이동 -->
      <li class="page-item">
        <a class="page-link now-page" th:href="${firstPage}" aria-label="First">
          <span aria-hidden="true">첫 페이지로</span>
        </a>
      </li>
      <!-- 이전 페이지로 이동 -->
      <li class="page-item" th:class="${allDiaryList.first} ? 'disabled'">
        <a class="page-link" th:href="${allDiaryList.first} ? '#' :${prevPage}"
           aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>

      <!-- 하단에 보여지는 페이지 1,2,3,4... -->
      <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
          th:class="${page == allDiaryList.number + 1} ? 'active'">
        <a class="page-link" th:text="${page}" th:href="@{/diary(page=${page},type=${type},keyword=${keyword})}"></a>
      </li>

      <!-- 다음 페이지로 이동 -->
      <li class="page-item" th:class="${allDiaryList.last} ? 'disabled'">
        <a class="page-link" th:href="${allDiaryList.last} ? '#' :${nextPage}"
           aria-label="Next">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>

      <!-- 마지막 페이지로 이동 -->
      <li class="page-item">
        <a class="page-link" th:href="${lastPage}">
          <span aria-hidden="true">마지막 페이지로</span>
        </a>
      </li>
    </th:block>
  </ul>
</nav>


<nav class="navbar searchbar">
  <div class="container-fluid">
    <form class="d-flex" role="search" action="/diary/search" name="search-form">
      <select class="form-select form-select-sm" id="searchType" aria-label=".form-select-sm example" name="type"
              style="width: 100px; margin-right: 10px;">
        <option selected value="content" id="content">내용</option>
        <option value="writer" id="writer">작성자</option>
        <option value="keyword" id="keyword">키워드</option>
      </select>
      <input class="form-control me-2" type="search" name="keyword" placeholder="검색어를 입력해 주세요" id="inputSearch"
             aria-label="Search" style="width: 300px;">
      <input type="submit" class="btn btn-outline-success" id="searchBtn"
             style="width: 100px" th:value="검색">
    </form>
  </div>
</nav>
<!--<footer th:insert="footer.html::footer"></footer>-->
<footer th:insert="~{fragment/footer.html::footer}"></footer>

</body>
</html>