<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="diary-write-body">

<header th:insert="~{fragment/topMenu.html::nav}"/>

<div class="container diary-container ">

    <div class="card-header BoxTitle text-center">
        다 이 어 리
    </div>

    <div class="diary-write row align-items-start col">

        <div class="leftDiary diary-wrap">
            <div class="card-body diary diaryMedia col-6" id="sympathyBtn">
                <div class="form-group readTop">
                    <img th:if="${sympathyBeen==null}" class="btn  btn-primary_readImg"
                         th:src="@{/images/sympathyOffImg.png}"
                         style="" onclick="sympathyOn(this)">
                    <img th:unless="${sympathyBeen==null}" class="btn  btn-primary_readImg"
                         th:src="@{/images/emotion.png}"
                         style="" onclick="sympathyOff(this)">
                    <p class=" btn-primary_read"
                       style=""
                       th:text="${readDiaryBean?.diarySympathyCnt}" readonly></p>
                </div>

                <div class="dropdown readDropdown" style="margin-bottom: 30px;display: inline-block">
                    <p class="diaryWriterP" style="padding-top: 15px;">작성자 :</p>
                    <button class="btn card-title diaryWriter " data-bs-toggle="dropdown" id="dropdownMenuReference"
                            data-bs-reference="parent" data-bs-offset="10,20" aria-expanded="false"
                            style="display: contents;" th:text="${readDiaryBean.diaryWriter}"/>
                    <ul class="dropdown-menu " style="" aria-labelledby="dropdownMenuReference">
                        <li class="dropdown-item addFriend">친구추가</li>
                        <input type="hidden" class="memberIdx" th:value="${readDiaryBean.memberIdx}">
                        <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#block">차단</li>
                        <li class="dropdown-item" onclick="reportBtn()">게시글 신고</li>
                    </ul>
                </div>
                <div class="form-group ">
                    <p class="card-title diarySubject" style="border: none;white-space: normal;"
                       th:text="${readDiaryBean.diarySubject}"/>
                </div>
                <!--                style="width: 650px;height: 300px;margin-bottom: 10px"-->
                <div class="form-group readContent">
                    <textarea class="card-text diaryReadContent"
                              th:text="${readDiaryBean.diaryContent}" readonly>
                    </textarea>
                </div>

                <div class="form-group keywordSubject">

                    <p class="keywordP">키워드</p>
                    <div class="keywords">
                        <!--                        <p>-->
                        <th:block th:each="keyword : ${readDiaryBean.diaryKeywords }">
                            <p class="keywords_item" th:text="${keyword}"></p>
                        </th:block>
                        <!--                        </p>-->

                    </div>
                    <!-- 다이어리 제목부터 키워드까지 -->
                </div>
            </div>

        </div>
        <div class="rightDiary diary-wrap">

            <div class="card-body Analyze diary col-6" id="Analyze" name="Analyze">

                <div class="form-group" style="text-align: center;margin-bottom: 10px">

                    <p class="analyzeTitle" style="">감정 분석</p>

                </div>

                <div class="form-group diaryAnalyze">
                    <textarea class="diaryAnalyzeContent"
                              th:readonly="readonly" id="diaryAnalyze"
                              th:text="${readDiaryBean.diaryAnalyze}"></textarea>
                </div>
            </div>
            <div class="input-group mb-3 commentTitle">
                <input type="text" class="form-control commentTitle comtitle" id="commentInput" value=""
                       placeholder="댓글을 작성해주세요." aria-label="Recipient's username"
                       aria-describedby="button-addon2">
                <input type="hidden" id="diaryIdx" th:value="${readDiaryBean.diaryIdx}">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        th:onclick="registerComment()">작성
                </button>
            </div>
            <div class="card-body commentList"
                 style="width: 750px;height: 500px;margin-bottom: 10px;margin-left: 30px;overflow: scroll;overflow-x:hidden;">
                <table class="table" style="width: 650px;height: 300px;margin-bottom: 10px;margin-left: 55px;">
                    <div id="commentDiv">
                        <th:block th:if="${commentList != null}">
                            <tbody class="table-group-divider" th:each="list: ${commentList}" style="font-size: 15px;">
                            <tr>
                                <th scope="row"></th>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn commentWriter" data-bs-toggle="dropdown"
                                                aria-expanded="false" th:text="${list.commentWriter}">작성자
                                        </button>
                                        <ul class="dropdown-menu" style="">
                                            <li class="dropdown-item addFriend">친구추가</li>
                                            <li hidden="hidden" class="memberIdx" name="memberIdx"
                                                   th:value="${list.memberIdx}">
                                            <li class="dropdown-item addBlock" onclick="addBlock(this)"
                                                data-bs-toggle="modal"
                                                data-bs-target="#block">
                                                차단
                                            </li>
                                            <li class="dropdown-item" onclick="reportBtn()">댓글 신고</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="commentContent" th:text="${list.commentContent}">댓글 내용</td>
                                <td th:text="${#temporals.format(list.commentDate, 'yyyy-MM-dd')}">작성 날짜</td>
                                <td>
                                    <!--<th:block th:if="${list.memberIdx!=member.memberIdx}">
                                        <img th:if="${likes == null}" class="btn  btn-primary_readImg"
                                             onclick="likeOn()" th:src="@{/images/likeOffImg.png}">
                                        <img th:if="${likes != null}" class="btn  btn-primary_readImg"
                                             onclick="likeOff()" th:src="@{/images/likeOnImg.png}">
                                    </th:block>-->
                                    좋아요 버튼
                                </td>
                            </tr>
                            </tbody>
                        </th:block>
                    </div>
                </table>
            </div>
            <div class="btnWrap" style="float: right">
                <button class="btn btn-dark writerBtn" type="button"
                        onclick="">삭제
                </button>
                <button class="btn btn-dark writerBtn" type="submit"
                        onclick="">수정
                </button>
                <a class="btn btn-dark listBtn" th:href="@{diary/index.html}">목록</a>
            </div>
        </div>
    </div>
</div>
<!-- 모달부분 form-->
<div class="modal fade" id="block" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">차단 하기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:object="${blockListDto}">
                    <div class="mb-3">
                        <label for="date" class="col-form-label">날짜</label>
                        <input type="text" class="form-control" id="date"
                               th:value="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="blockMemberNickname" class="col-form-label">닉네임</label>
                        <input type="text" class="form-control" id="blockMemberNickname" name="blockMemberNickname"
                               th:field="*{blockMemberNickname}"
                               readonly value="">

                    </div>
                    <div class="mb-3">
                        <label for="blockMemberReason" class="col-form-label">차단사유</label>
                        <textarea class="form-control" id="blockMemberReason" name="blockMemberReason"
                                  th:field="*{blockMemberReason}"></textarea>
                    </div>
                    <input type="input" id="blockMemberIdx" name="blockMemberIdx" th:field="*{blockMemberIdx}"
                           value="">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" onclick="postBlock(this)" class="btn btn-primary">작성완료</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    <!-- 댓글 신고하기 누르면 링크이동 경로 수정해야함 -->
    const writerIdx = $('.memberIdx').val(); // 게시글 작성자
    const memberIdx = $('.idx').val(); //현재 로그인한 사용자

    function reportBtn() {
        location.href = "/board/report/write?reportedMemberIdx=" + writerIdx;
    }

    $(document).ready(function () {
        $('.addFriend').click(function () {

            const friendsDto = {
                "friendsIdx": $("#memberIdx").val()
            };

            $.ajax({
                type: "POST",
                url: "/user/friend_add",
                data: friendsDto
            }).done(function (msg) {
                console.log(msg);
                if (msg == 'ok')
                    alert("친구가 정상적으로 추가되었습니다.");
                else if (msg == 'already')
                    alert("이미 친구입니다.");
                else
                    alert("차단 대상자 입니다.");
            });
        });

        const writerIdx = $('.memberIdx').val(); // 게시글 작성자
        const memberIdx = $('.idx').val(); //현재 로그인한 사용자
        if (writerIdx === memberIdx) {
            $('.writerBtn').show();
        }
    });

    function addBlock(e) {
        const blockMemberIdx = $(e).siblings('.memberIdx').val();
        const blockMemberNickname = $(e).parents().siblings('.commentWriter').text();

        $('#blockMemberNickname').val(blockMemberNickname);
        $('#blockMemberIdx').val(blockMemberIdx);
    }

    function postBlock(e) {
        const blockListDto = {
            "blockMemberNickname": $('#blockMemberNickname').val(),
            "blockMemberReason": $('#blockMemberReason').val(),
            "blockMemberIdx": $('#blockMemberIdx').val()
        };

        $.ajax({
            type: "POST",
            url: "/user/blockList_add",
            data: blockListDto
        }).done(function (msg) {
            if (msg == 'ok')
                alert("차단리스트에 정상적으로 등록되었습니다.");
            $('#block').modal('hide');
        });
    }

    function registerComment() {
        // 입력된 댓글 데이터를 가져옴
        var diaryIdx = $("#diaryIdx").val();
        var commentInput = $("#commentInput").val();

        // Ajax 요청
        $.ajax({
            url: "/diary/comment_write",
            type: "POST",
            data: {diaryIdx: diaryIdx, commentInput: commentInput},
            dataType: "html"
        })
            .done(function (fragment) {
                // 댓글 입력 폼 초기화
                $("#commentInput").val("");

                // 서버에서 반환된 댓글 데이터를 이용하여 댓글 목록에 추가
                $(`.table`).html(fragment);
            });
    }

    //   diary 공감버튼 function
    function sympathyOn() {
        console.log('on');

        const diarySympathyDto = {
            "diaryIdx": $("#diaryIdx").val()
        }

        $.ajax({
            url: "/diary/sympathy",
            type: "POST",
            data: diarySympathyDto
        }).done(function (fragment) {
            $("#sympathyBtn").replaceWith(fragment);
        });
    }

    function sympathyOff() {
        console.log('off');

        const diayrSympathyDto = {
            "diaryIdx": $("#diaryIdx").val()
        }

        $.ajax({
            url: "/diary/sympathy",
            type: "DELETE",
            data: diayrSympathyDto
        }).done(function (fragment) {
            $("#sympathyBtn").replaceWith(fragment);
        });
    }

    //   comment 좋아요버튼 function
    function likeOn() {

    }

    function likeOff() {

    }
</script>
<footer th:replace="~{fragment/footerTemp.html::footer}"></footer>
</body>
</html>