<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="~{fragment/topMenu.html::header}">
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body class="diary-write-body">

<header th:insert="~{fragment/topMenu.html::nav}"/>

<div class="container diary-container ">

    <div class="card-header BoxTitle text-center">
        다 이 어 리
    </div>

    <div class="diary-write row align-items-start col">

        <div class="leftDiary diary-wrap">
            <div class="card-body diary diaryMedia col-6">
                <div class="form-group" style="width: 600px;height: 50px;text-align: center;margin-bottom: 10px">
                    <label class="writeTitle" style="font-size: 40px;">일기</label>
                    <img class="btn  btn-primary_read" th:src="@{/images/emotion.png}"
                         style="width: 70px;height: 70px;  float: right">
                    <label class=" btn-primary_read"
                           style="float:right; font-size: 35px;display: inline-block;padding-top: 12px;"
                           th:text="${readDiaryBean.diarySympathyCnt}" readonly></label>
                </div>

                <div class="dropdown" style="margin-bottom: 50px;display: inline-block">
                    <label style="font-size: 30px;padding-top: 15px;">작성자 :</label>
                    <button class="btn card-title diaryWriter " data-bs-toggle="dropdown" id="dropdownMenuReference"
                            data-bs-reference="parent" data-bs-offset="10,20" aria-expanded="false"
                            style="display: contents;" th:text="${readDiaryBean.diaryWriter}"/>
                    <ul class="dropdown-menu " style="" aria-labelledby="dropdownMenuReference">
                        <li class="dropdown-item addFriend">친구추가</li>
                        <input type="hidden" class="memberIdx" th:value="${readDiaryBean.memberIdx}">
                        <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#block">차단</li>
                        <li class="dropdown-item" onclick="reportBtn()">게시글 신고</li>
                    </ul>
                </div>
                <div class="form-group ">
                    <p class="card-title diarySubject" style="border: none;white-space: normal;"
                       th:text="${readDiaryBean.diarySubject}"/>
                </div>
                <div class="form-group readContent" style="width: 650px;height: 300px;margin-bottom: 10px">
                    <textarea style="width: 650px;height: 300px;margin-bottom: 10px; border: none; resize: none"
                              class="card-text diaryReadContent"
                              id="diaryContent" th:text="${readDiaryBean.diaryContent}" readonly>
                    </textarea>
                </div>

                <div class="form-group keywordSubject">

                    <label style="font-size: 30px;margin-bottom: 30px;margin-top: 20px">키워드</label>
                    <div class="keywords">
                        <p>
                            <th:block th:each="keyword : ${readDiaryBean.diaryKeywords }">
                                <label class="keywords_item" style="font-size: 30px;" th:text="${keyword}"/>
                            </th:block>
                        </p>

                    </div>
                    <!-- 다이어리 제목부터 키워드까지 -->
                </div>
            </div>

        </div>
        <div class="rightDiary diary-wrap">

            <div class="card-body Analyze diary col-6" id="Analyze" name="Analyze" style="width: 650px">

                <div class="form-group" style="width: 600px;height: 50px;text-align: center;margin-bottom: 10px">

                    <label style="font-size: 40px;">감정 분석</label>

                </div>

                <div class="form-group" style="width: 650px;height: 300px;margin-bottom: 10px;margin-left: 10px;">
                    <textarea class="diaryAnalyze"
                              style="width: 650px;height: 300px;margin-bottom: 10px;border: none; resize: none; font-size: 35px"
                              th:readonly="readonly" id="diaryAnalyze"
                              th:text="${readDiaryBean.diaryAnalyze}"></textarea>
                </div>
            </div>
            <div class="input-group mb-3" style="width: 650px;margin-bottom: 10px;margin-left: 55px;">
                <input type="text" class="form-control" value="" style="margin-left: 55px"
                       placeholder="댓글을 작성해주세요." aria-label="Recipient's username"
                       aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        th:onclick="commentWrite()">작성
                </button>
            </div>
            <div class="card-body"
                 style="width: 750px;height: 500px;margin-bottom: 10px;margin-left: 30px;overflow: scroll;overflow-x:hidden;">
                <table class="table" style="width: 650px;height: 300px;margin-bottom: 10px;margin-left: 55px;">


                    <th:block th:if="${commentList != null}">
                        <tbody class="table-group-divider" th:each="list: ${commentList}" style="font-size: 15px;">
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn" data-bs-toggle="dropdown"
                                            aria-expanded="false" th:text="${list.commentWriter}">작성자
                                    </button>
                                    <ul class="dropdown-menu" style="">
                                        <li class="dropdown-item" id="addFriend">친구추가</li>
                                        <input type="hidden" id="memberIdx" name="memberIdx"
                                               th:value="${list.memberIdx}">
                                        <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#block">
                                            차단
                                        </li>
                                        <li class="dropdown-item" onclick="reportBtn()">댓글 신고</li>
                                    </ul>
                                </div>
                            </td>
                            <td style="width: 250px;word-break: break-all" th:text="${list.commentContent}">댓글 내용
                            </td>
                            <td th:text="${#temporals.format(list.commentDate, 'yyyy-MM-dd')}">작성 날짜</td>
                            <td>좋아요 버튼</td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="btnWrap" style="float: right">
                <button class="btn btn-dark writerBtn" type="button"
                        style="width: 80px;height: 50px;text-align: center;display: none" onclick="">삭제
                </button>
                <button class="btn btn-dark writerBtn" type="submit"
                        style="width: 80px;height: 50px;text-align: center;display: none" onclick="">수정
                </button>
                <a class="btn btn-dark" style="width: 80px;height: 50px;text-align: center; padding-top: 12px"
                   th:href="@{diary/index.html}">목록</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" class="idx" th:value="${member.memberIdx}">

<script>

    function reportBtn() {
        location.href = "/board/report/write";
    }

    $(function () {

        $('#addFriend').click(function () {
            $.ajax({
                type: "POST",
                url: "/user/friend_add",
                data: {
                    "memberIdx": $(".idx").val(),
                    "friendsMemberIdx": $("#memberIdx").val(),
                },
                success: function () {
                    swal('친구가 추가되었습니다.');
                }
            });
        });
        // $('.addFriend').click(function () {
        //     $.ajax({
        //         type: "POST",
        //         url: "/user/friend_add",
        //         data: {
        //             "memberIdx": $(".idx").val(),
        //             "friendsMemberIdx":$(".memberIdx").val(),
        //         },
        //         success: function () {
        //             swal('친구가 추가되었습니다.');
        //         }
        //     });
        // });
        const writerIdx = $('.memberIdx').val(); // 게시글 작성자
        const memberIdx = $('.idx').val(); //현재 로그인한 사용자
        if (writerIdx === memberIdx) {
            $('.writerBtn').show();
        }
        // $('.writerBtn').show();
    });

</script>
</body>
<footer th:replace="~{fragment/footerTemp.html::footer}"></footer>
</html>