<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="diary-write-body">

<header th:insert="~{fragment/topMenu.html::nav}"/>

<div class="container text-center">
  <!--readWrap시작-->
  <div th:object="${readDiaryBean}">
    <div class="row readWrap diary-Read">
      <!--  leftRead시작  -->
      <div class="col-6 leftRead">
        <!-- card 시작부분-->
        <div class="row">
          <!--        제목/내용-->
          <div class="col-10">
            <div class="card diaryReadCard">
              <div class="card-body row">
                <h5 class="card-title col-8" th:text="${readDiaryBean.diarySubject}"/>
                <div class="btn-group dropend col-4">
                  <button type="button" class="btn nickNameBtn dropdown-toggle"
                          data-bs-toggle="dropdown" aria-expanded="false"
                          th:text="${member.memberNickname}"/>
                  <ul class="dropdown-menu">
                    <li><input class="dropdown-item" type="button" th:value="친구추가" th:onclick="addFriend()"></li>
                    <li><input class="dropdown-item" type="button" th:value="유저차단" th:onclick="userBlock()"></li>
                    <li><input class="dropdown-item" type="button" th:value="유저신고" th:onclick="userReport()"></li>
                  </ul>
                </div>
                <p class="card-text" th:text="${readDiaryBean.diaryContent}"></p>

                <div class="keywords">
                  <label>키워드</label>
                  <p>
                    <!--                    <th:block th:each="keyword : ${readDiaryBean.diaryKeywords }">-->
                    <!--                      <button th:value="${keyword}" th:text="${keyword}"-->
                    <!--                              th:text="${keyword}" onclick="keywordClick()"/>-->
                    <!--                    </th:block>-->

                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--        조회수/공감 등-->
          <div class="col-2">
            <div class="writeOptions">
              <div class="">
                <label class="" th:text="${readDiaryBean.diaryCnt}"></label>
                <button class="btn sympathyBtn" th:field="${readDiaryBean.diarySympathyCnt}">공감</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--  leftRead끝  -->

      <!--  rightRead시작  -->
      <div class="col-6 rightRead">
        <div class="card row diaryReadCard">
          <div class="card-body">
            <h5 class="card-title">감정 분석 결과</h5>
            <p class="card-text" th:text="${readDiaryBean.diaryAnalyze}"></p>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" value=""
                         placeholder="댓글을 작성해주세요." aria-label="Recipient's username"
                         aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                          th:onclick="commentWrite()">작성
                  </button>
                </div>
              </tr>
              </thead>
              <th:block th:if="${commentList != null}">
                <tbody class="table-group-divider" th:each="list: ${commentList}">
                <tr>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" th:text="${list.commentWriter}">작성자</button>
                      <ul class="dropdown-menu" style="">
                        <li class="dropdown-item" id="addFriend">친구추가</li>
                        <input type="hidden" id="memberIdx" name="memberIdx" th:value="${list.memberIdx}">
                        <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#block">차단</li>
                        <li class="dropdown-item" onclick="reportBtn()">댓글 신고</li>
                      </ul>
                    </div>
                  </td>
                  <td th:text="${list.commentContent}">댓글 내용</td>
                  <td th:text="${list.commentDate}">작성 날짜</td>
                  <td>좋아요 버튼</td>
                </tr>
                </tbody>
              </th:block>
            </table>
          </div>
          <div class="btnWrap">
            <button class="btn btn-dark" type="button" th:value="삭제" onclick=""></button>
            <button class="btn btn-dark" type="submit" th:value="수정"></button>
            <a class="btn btn-dark" th:href="@{diary/index.html}" th:value="목록"></a>
          </div>
        </div>
      </div>
      <!--  rightRead끝  -->
    </div>
  </div>
  <!--readWrap끝-->
</div>
<footer th:replace="~{fragment/footer.html::footer}"></footer>

<!-- 모달부분 form-->
<div class="modal fade" id="block" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">차단 하기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/user/block_list/{memberidx}(memberIdx=${member.memberIdx})}" th:object="${blockmemberList}">
          <div class="mb-3">
            <label for="date" class="col-form-label">날짜</label>
            <input type="text" class="form-control" id="date" th:text="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}" th:field="*{blockMemberDate}" readonly>
          </div>
          <div class="mb-3">
            <label for="nickname" class="col-form-label">닉네임</label>
            <input type="text" class="form-control" id="nickname" th:field="*{blockMemberNickname}">
          </div>
          <div class="mb-3">
            <label for="blockContent" class="col-form-label">차단사유</label>
            <textarea class="form-control" id="blockContent" th:field="*{blockMemberReason}"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:value="취소">취소</button>
            <button type="submit" class="btn btn-primary" th:value="작성완료">작성완료</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // 친구추가 function
function addFriend(){
  var readDiaryBean ={
  memberIdx:$("#memberIdx").val()
  };
  $.ajax({
    url: "",
    type: "",
    data: "",
    success:function (){
    swal('친구추가완료')
  },error: function () {
      swal('친구로 추가할 수 없는 사용자 입니다.');
    }
  });
}

  // 유저차단 function
function userBlock(){

}
  // 유저신고 function
  function userReport(){

  }



  <!-- 댓글 신고하기 누르면 링크이동 경로 수정해야함 -->
  function reportBtn(){
    location.href="/board/report/write";
  }

  $(document).ready(function() {
    $('#addFriend').click(function() {
      $.ajax({
        type: "POST",
        url: "/user/friend_add/",
        data :{
          "memberIdx": $("#memberIdx").val()
        },
        success: function(response) {
          swal('친구가 추가되었습니다.');
        }
      });
    });
  });

</script>
</body>
</html>