<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="~{fragment/topMenu.html::header}">
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<header th:insert="~{fragment/topMenu.html::nav}"/>
    <div class="container">
     <div class="card diary-write">
        <div class="card-header BoxTitle">
            다 이 어 리 쓰 기
        </div>
         <form class="" th:action="@{diary/write_pro}" method="get" th:object="${writeDiaryBean}">

             <div class="form-group diary">

             <div class="form-group public-check-box">
<!--                 member의 다이어리 작성 공개/비공개 여부 라디오 버튼-->
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="inlineRadioOptions" id="publicRadio1" th:value="true" th:field="true">
                 <label class="form-check-label" for="publicRadio1">공개</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="inlineRadioOptions" id="publicRadio2" th:value="false" th:field="false">
                 <label class="form-check-label" for="publicRadio2">비공개</label>
             </div>
             </div>

            <div class="card-body diary">
                <div class="form-group">
                    <input type="text" class="card-title diarySubject" placeholder="제목을 입력해주세요." th:field="*{diarySubject}"/>
                </div>

                <div class="form-group">
                    <input type="text" class="card-text diaryContent" id="diaryContent" placeholder="일기내용을 작성해주세요." th:field="*{diaryContent}"/>
                </div>

                <div class="form-group">
                    <input type="button" id="englishBtn" name="englishBtn" onclick="translation()" value="영번역" class="btn btn-secondary englishBtn"/>
                    <input type="reset" id="diaryResetBtn" name="diaryResetBtn" value="재작성" class="btn btn-secondary diaryResetBtn"/>
                    <input type="button" id="diarySaveBtn" name="diarySaveBtn" onclick="diarySave()" value="저장" class="btn btn-secondary diarySaveBtn"/>
                </div>

<!--                키워드-->
                <div class="form-group">
                    <label>키워드</label>
                    <p class="diary-keywords">
                      <th:block th:each="keyword : ${diaryKeywords }">
                          <button th:value="${keyword}" th:text="${keyword}" th:field="*{diaryKeyword}" onclick="keywordClick()"/>
                      </th:block>
                    </p>
                </div>
            </div>
                <div class="form-group public-check-box">
<!--                    감정분석결과 공개/비공개 라디오버튼-->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="diaryAnalyzeRadio1" th:value="true">
                        <label class="form-check-label" for="diaryAnalyzeRadio1">공개</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="diaryAnalyzeRadio12" th:value="false">
                        <label class="form-check-label" for="diaryAnalyzeRadio1">비공개</label>
                    </div>
                </div>
                <div class="form-group Analyze" id="Analyze" th:name="Analyze">
                    <label>감정 분석 결과</label>
                    <input type="text" class="diaryAnalyze" th:readonly="readonly" th:text="${diaryAnalyze}" th:value="${diaryAnalyze}">
                </div>

            </div>
             <button type="submit" class="btn btn-dark btn-right" th:value="완료"></button>
         </form>
     </div>
    </div>

<footer th:insert="~{fragment/footer.html::footer}"/>
<script>


    const diaryContent = document.getElementById('diaryContent');
    function translation(){
        //영번역 함수
    }

    function diarySave(){
        //다이어리 저장 함수
    }

    function keywordClick(){
        //키워드 클릭 함수
    }


</script>
</body>
</html>