<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="~{fragment/topMenu.html::header}">
  <!-- 반응형 웹 미디어쿼리 선언부   -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="p-3 m-0 border-0 bd-example mainBody">

<header th:insert="~{fragment/topMenu.html::nav}"></header>
<!--<img th:src="@{/images/mainBanner5.jpg}" style="width:100%; height: 350px;">-->
<div class="videoContainer">

  <video id="videoPlay" width="100%" height="500px" style="margin-top: 20px; display: block" autoplay muted >
  <source type="video/mp4" th:src="@{/videos/main_bannerVideo.mp4}" />
    메인 동영상
  </video>

  <video id="videoPlay2" width="100%" height="500px" style="margin-top: 20px; display: none" autoplay muted loop >
    <source type="video/mp4" th:src="@{/videos/main_bannerVideo2.mp4}" />
<!--    <source type="video/mp4" th:src="@{/videos/main_bannerVideo.mp4}" />-->
    메인 동영상
  </video>

</div>
<div class="container text-center" id="main">
  <div class="row">
    <div class="col-md-2" id="today">
      <div class="col-sm-12" id="todayBlock">
        <div class="card homecard todayAdvice">
          <div style="font-size: 20px;margin-bottom: 15px; margin-top:10px">
            오늘의 조언
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p th:text="${adviceModel.adviceContent}">오늘의 조언</p>
              <footer class="blockquote-footer advice-title" th:text="${adviceModel.adviceAuthor}">오늘의 조언 주인</footer>
            </blockquote>
          </div>
        </div>

        <div class="card keywordcard" id="keyword">
          <div style="font-size: 20px;margin-bottom: 15px; margin-top:10px">
            키워드 추천
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0" id="keywordContext" th:each="keyword : ${keywordList}">
              <p class="list" th:text="${keyword.keywordName}">키워드</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 newestDiv">
      <div class="card diarycard" id="newest">
        <div style="font-size: 20px"><br>
          감성일기 최신순(공개)

        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th scope="col">게시글</th>
              <th scope="col" class="mainSubject" >제목</th>
              <th scope="col">글쓴이</th>
              <th scope="col">날짜</th>
            </tr>
            </thead>
            <!--            class="table-group-divider"-->
            <tbody  th:each="diary : ${recentTop5DiaryList}">
            <tr>
              <th></th>
              <th></th>
              <th scope="row" th:text="${diary.diaryIdx}">최신순 일기 번호</th>
              <td><a th:href="@{diary/read/{diaryIdx}(diaryIdx=${diary.diaryIdx})}" th:text="${diary.diarySubject }">최신순 일기 제목</a></td>
              <td th:text="${diary.diaryWriter}">최신순 일기 작성자</td>
              <td th:text="${#temporals.format(diary.diaryDate, 'YY-MM-dd')}">최신순 일기 날짜</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="col-md-5 emotionDiv" style="margin-right: 30px">
      <div class="card diarycard" id="emotion">
        <div style="font-size: 20px"><br>
          감성일기 공감순(공개)
        </div>
        <div class="card-body" id="emotionContext">
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th scope="col">게시글</th>
              <th scope="col">제목</th>
              <th scope="col">글쓴이</th>
              <th scope="col">공감수</th>
            </tr>
            </thead>
<!--            class="table-group-divider"-->
            <tbody  th:each="diary : ${mostSympathyTop5DiaryList}">
            <tr>
              <th></th>
              <th></th>
              <th scope="row" th:text="${diary.diaryIdx}">공감순 일기 번호</th>
              <td><a th:href="@{diary/read/{diaryIdx}(diaryIdx=${diary.diaryIdx})}" th:text="${diary.diarySubject }">공감순 일기 제목</a></td>
              <td th:text="${diary.diaryWriter}">공감순 일기 작성자</td>
              <td th:text="${diary.diarySympathyCnt}">4</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<script>

  $(function(){

    $('#videoPlay2').bind('contextmenu',function() {
      return false;
    });
    $('#videoPlay').bind('contextmenu',function() {
      return false;
    });
    $('#videoPlay').bind('ended',function (){
        $('#videoPlay').css('display','none');
        $('#videoPlay2').css('display','block');
        $('#videoPlay2').play();
    });
    $('#videoPlay2').bind('ended',function (){
      $('#videoPlay2').css('display','none');
      $('#videoPlay').css('display','block');
      $('#videoPlay').play();
    });



  });

</script>
<footer th:replace="~{fragment/footerTemp.html::footer}"></footer>
</body>

</html>