<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="~{fragment/topMenu.html::header}">
    <!-- 반응형 웹 미디어쿼리 선언부   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <header th:insert="~{fragment/topMenu.html::header}"></header>-->

</head>
<body class="p-3 m-0 border-0 bd-example noticeMain">
<header th:insert="~{fragment/topMenu.html::nav}"></header>


<nav class="navbar searchbar">
    <div class="container-fluid">
        <form class="d-flex" role="search" action="/board/notice" name="search-form" id="search-form">
            <select class="form-select form-select-sm" id="searchType" aria-label=".form-select-sm example" name="type"
                    style="width: 100px; margin-right: 10px;">
                <option selected value="content" id="content">제목</option>
            </select>
            <input class="form-control me-2" type="search" name="keyword" placeholder="검색어를 입력해 주세요" id="search-input"
                   aria-label="Search" style="width: 300px;">
            <input type="submit" class="btn btn-outline-success" id="searchBtn"
                   style="width: 100px" th:value="검색">
        </form>
        <form class="noticeWriteBtn" th:action="@{/board/notice/write}" th:method="get" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <button type="submit" class="btn btn-outline-primary" style="width: 100px" >작성</button>

        </form>
    </div>
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">NO</th>
        <th scope="col">공지사항</th>
        <th scope="col">날짜</th>
        <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody class="table-group-divider" th:each="notice, index: ${noticeList}">
    <tr>
        <th scope="row" th:text="${index.index + 1}"></th>
        <td>
            <a th:href="@{/board/notice/read(noticeIdx=${notice.noticeIdx})}" th:text="${notice.noticeSubject}">공지사항 제목</a>
        </td>
        <td th:text="${#temporals.format(notice.noticeDate, 'yyyy-MM-dd')}">날짜</td>
        <td th:text="${notice.noticeViews}">24</td>
    </tr>

    </tbody>
</table>

<nav aria-label="Page navigation" class="page">
    <!-- 변수값 초기화 -->
    <ul class="pagination page-bar justify-content-center"
        th:with="start=${T(Math).floor(noticeList.number / 10) * 10 + 1},
             last=${start + 9 < noticeList.totalPages ? start + 9 : noticeList.totalPages},
             type=${param.type},
             keyword=${param.keyword}">
        <th:block th:if="${keyword != null}">
            <th:block th:with="
                firstPage=@{/notice(page=1,type=${type},keyword=${keyword})},
                prevPage=@{/notice(page=${noticeList.number},type=${type},keyword=${keyword})},
                nextPage=@{/notice(page=${noticeList.number + 2},type=${type},keyword=${keyword})},
                lastPage=@{/notice(page=${noticeList.totalPages},type=${type},keyword=${keyword})}">
                <!-- 페이지가 없는 경우 -->
                <th:block th:if="${noticeList.totalPages < 1}">
                    <button name="return-main">전체 페이지로 돌아가기</button>
                </th:block>
                <!-- 페이지가 있는 경우 -->
                <th:block th:if="${noticeList.totalPages > 0}">

                    <!-- 첫 페이지로 이동 -->
                    <li class="page-item">
                        <a class="page-link now-page" th:href="${firstPage}" aria-label="First">
                            <span aria-hidden="true">첫 페이지로</span>
                        </a>
                    </li>
                    <!-- 이전 페이지로 이동 -->
                    <li class="page-item" th:class="${noticeList.first} ? 'disabled'">
                        <a class="page-link" th:href="${noticeList.first} ? '#' :${prevPage}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!-- 하단에 보여지는 페이지 1,2,3,4... -->
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == noticeList.number + 1} ? 'active'">
                        <a class="page-link" th:text="${page}"
                           th:href="@{/notice(page=${page},type=${type},keyword=${keyword})}"></a>
                    </li>

                    <!-- 다음 페이지로 이동 -->
                    <li class="page-item" th:class="${noticeList.last} ? 'disabled'">
                        <a class="page-link" th:href="${noticeList.last} ? '#' :${nextPage}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <!-- 마지막 페이지로 이동 -->
                    <li class="page-item">
                        <a class="page-link" th:href="${lastPage}">
                            <span aria-hidden="true">마지막 페이지로</span>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </th:block>

        <th:block th:if="${keyword == null}">
            <th:block th:with="
                firstPage=@{/board/notice(page=1)},
                prevPage=@{/board/notice(page=${noticeList.number})},
                nextPage=@{/board/notice(page=${noticeList.number + 2})},
                lastPage=@{/board/notice(page=${noticeList.totalPages})}">
                <!-- 페이지가 없는 경우 -->
                <th:block th:if="${noticeList.totalPages < 1}">
                    <button name="return-main">전체 페이지로 돌아가기</button>
                </th:block>
                <!-- 페이지가 있는 경우 -->
                <th:block th:if="${noticeList.totalPages > 0}">

                    <!-- 첫 페이지로 이동 -->
                    <li class="page-item">
                        <a class="page-link now-page" th:href="${firstPage}" aria-label="First">
                            <span aria-hidden="true">첫 페이지로</span>
                        </a>
                    </li>
                    <!-- 이전 페이지로 이동 -->
                    <li class="page-item" th:class="${noticeList.first} ? 'disabled'">
                        <a class="page-link" th:href="${noticeList.first} ? '#' :${prevPage}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!-- 하단에 보여지는 페이지 1,2,3,4... -->
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == noticeList.number + 1} ? 'active'">
                        <a class="page-link" th:text="${page}"
                           th:href="@{notice(page=${page})}"></a>
                    </li>

                    <!-- 다음 페이지로 이동 -->
                    <li class="page-item" th:class="${noticeList.last} ? 'disabled'">
                        <a class="page-link" th:href="${noticeList.last} ? '#' :${nextPage}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <!-- 마지막 페이지로 이동 -->
                    <li class="page-item">
                        <a class="page-link" th:href="${lastPage}">
                            <span aria-hidden="true">마지막 페이지로</span>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </th:block>
    </ul>
</nav>

<form class="noticeWriteBtn" th:action="@{/board/qna/write/${memberIdx}}" th:method="get" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <button type="submit" class="btn btn-outline-primary" >작성</button>


</body>
</html>