<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/html">
<head>
  <!-- 반응형 웹 미디어쿼리 선언부   -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="~{fragment/topMenu.html::header}"></div>
  <title>NADA 공지글</title>
</head>
<body class="p-3 m-0 border-0 bd-example noticeReadForm">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<!--<form enctype="multipart/form-data" th:action="@{/board/notice/modify}" th:method="get" th:object="${readNoticeBean}">-->
<input type="hidden" id="idx" name="idx" th:value="${readNoticeBean.noticeIdx}">
<div class="qnaform">
  <div class="BoxTitle" style="text-align: center;margin-bottom: 20px">
    <span class="logo-text">NOTICE</span></div>
  <div class="mb-3">
    <input type="text" class="form-control qnaSubject" name="noticeSubject" id="noticeSubject"
           th:value="${readNoticeBean.noticeSubject }"
           placeholder="공지사항 제목" readonly>
  </div>

  <div class="mb-3">
    <input type="text" name="noticeDate" id="noticeDate" class="form-control qnaDate"
           th:value="${#temporals.format(readNoticeBean.noticeDate,'yyyy-MM-dd')}" readonly>
  </div>

  <div class="mb-3">
        <textarea class="form-control qnaContent" name="noticeContent" id="noticeContent " rows="5"
                  th:text="${readNoticeBean.noticeContent }"
                  style="resize: none;"
                  placeholder="공지내용" readonly>
        </textarea>
  </div>

  <div class="mb-3">
    <label for="File" class="form-label">첨부파일</label>
    <a th:href="@{/board/notice/download(noticeIdx=${readNoticeBean.noticeIdx})}">
      <input class="form-control form-control-sm qnaFile" name="File" id="File"
             style="overflow: hidden;text-overflow: ellipsis;white-space: normal; cursor: pointer;"
             th:value="${readNoticeBean.noticeFile}" readonly>
    </a>
  </div>

  <form id="delete" th:action="@{/board/notice/delete}" th:method="delete">
    <input type="hidden" id="noticeIdx" name="noticeIdx" th:value="${readNoticeBean.noticeIdx}">
    <button type="button" id="deleteBtn" class="btn customDeleteBtn qnaBtn"
            onclick="deleteNotice() "
            sec:authorize="hasAnyRole('ROLE_ADMIN')">삭제
    </button>
    <button type="button" class="btn customModifyBtn qnaBtn" onclick="modify() "
            sec:authorize="hasAnyRole('ROLE_ADMIN')">수정
    </button>
    <button type="button" class="btn customBtn qnaBtn" onclick="window.location='/board/notice'">목록</button>
  </form>
</div>
<footer th:replace="~{fragment/footerTemp.html::footer}"></footer>
<script>
  function deleteNotice() {
    var form = $('#delete')
    swal({
      title: "정말로 삭제 하시겠습니까?",
      icon: "warning",
      buttons:[
        '아니오',
        '네'
      ],
    }).then(function(isConfirm){
      if(isConfirm){
        form.submit();
      }
    });
  }

  function modify() {
    var noticeIdx = $("#idx").val();
    window.location = "/board/notice/modify?noticeIdx=" + noticeIdx;
  }

  $(function () {
    var file = $('#File').val();
    if (file == null || file === "") {
      $('#File').on('click', function (e) {
        e.preventDefault();
      })
    }
  });
</script>
</body>
</html>