<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="~{fragment/topMenu.html::header}">
    <!-- 반응형 웹 미디어쿼리 선언부   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <header th:insert="~{fragment/topMenu.html::header}"></header>-->

</head>
<body class="p-3 m-0 border-0 bd-example noticeWriteForm">
<header th:insert="~{fragment/topMenu.html::nav}"></header>

<form enctype="multipart/form-data" th:action="@{/board/notice/write_pro?pageCnt=num}" th:method="post" th:object="${addNoticeBean}">
    <div class="mb-3">
        <input type="text" class="form-control" name="noticeSubject" id="noticeSubject" th:field="*{noticeSubject}"
               placeholder="공지사항 제목">
    </div>

    <div class="mb-3">
        <input type="text" name="noticeDate" id="noticeDate" class="form-control"
              th:text="${#calendars.format(#calendars.createNow(),'yyyy-mm-dd')}" readonly>
    </div>
    <div class="mb-3">
        <textarea class="form-control" name="noticeContent" id="notice_content " rows="5" placeholder="공지내용"
                  th:field="*{noticeContent}">
        </textarea>
    </div>

    <div class="mb-3">
        <label for="noticeFile" class="form-label">첨부파일</label>
        <input class="form-control form-control-sm" name="noticeFile" id="noticeFile" type="file" th:field="*{noticeFile}">
    </div>


    <button type="reset" class="btn btn-primary">재작성</button>
    <button type="submit" class="btn btn-primary">작성완료</button>
    <button type="button" class="btn btn-primary" onclick="history.go(-1)">취소</button>
</form>




</body>
</html>